[2013-03-11 10:20] timtebeek opened #2 "Integration with findbugs-maven-plugin"
From the webpage/documentation I can't yet figure out how to integrate this plugin with the findbugs-maven-plugin at http://mojo.codehaus.org/findbugs-maven-plugin/. I'd very much like to run these extensions as part of my Maven build, so I can make the reports available through Jenkins/Sonar.

Is it possible to integrate this project with the findbugs-maven-plugin, and if so how? Would this need

[2013-04-22 10:45] timtebeek opened #3 "NullPointerException at BadHexadecimalConversionDetector.java:65"
I get the attached stacktrace when running FindBugs through Maven.
To run find-sec-bugs I have:
- checked out the git repository
- deployed the 1.1-SNAPSHOT version to a local repository
- added the following to my project `pom.xml` (note the artifact plugin):

[code]
- and ran FindBugs through Maven using: `mvn clean compile site`

[code]

Can you explain the error message I'm getting and how to

[2013-04-23 01:40] #2 closed, assigned to h3xstream

[2013-05-16 21:06] #3 closed, assigned to h3xstream

[2013-05-22 07:09] Raghuveer-Singh opened #5 "Findbugs Security Plugin"
Hi,

[code]

At first i faced the NullPointerException which was fixed in   https://github.com/h3xstream/find-sec-bugs. However im facing the following issue now,

[code]

Pleae guide in solving the issue.

Thanks & Regards
Raghuveer Singh

[2013-05-22 09:04] oeegee opened #6 "How to run find-sec-bugs in Jenkins and Ant script?"
How can I run this plugin in Ant script?

I desire your help.

---

example)

[code]

---

ant run findbugs ==>

<pre>
[FINDBUGS] Collecting findbugs analysis files...
FATAL: null
java.lang.ExceptionInInitializerError
    at edu.umd.cs.findbugs.DetectorFactoryCollection.getCoreResource(DetectorFactoryCollection.java:360)
    at edu.umd.cs.findbugs.SystemProperties.loadPropertiesFromConfigFile(Syst

[2013-05-23 07:23] #6 closed, assigned to nobody

[2013-05-23 07:31] oeegee opened #7 "How to analyze JaxRS (CXF) code?"
**How to analyze JaxRS (CXF) code?**

[2013-05-29 18:09] jglick opened #8 "ACEGI Security: avoid temporary calls to SecurityContextHolder.getContext().setAuthentication(…)"
When using `org.acegisecurity.context.HttpSessionContextIntegrationFilter`, a `SecurityContext` will be associated with a session and thus used in multiple theads. Therefore the idiom

[code]

is unsafe: another thread handling a different request from the same user might momentarily get elevated permissions while performing unrelated operations.

For this reason, Jenkins [encourages](https://gith

[2013-06-26 07:29] oeegee opened #10 "How to analyze JSP?"
It's so simple.

compile JSP to servlet by jasper.
then, analysis it!

[2013-06-28 03:50] #7 closed, assigned to h3xstream

[2013-06-29 22:05] #10 closed, assigned to nobody

[2013-09-18 21:06] wrprice opened #11 "Parent POM referenced but not published to Maven Central"
`plugin-1.1.0.pom` references a parent POM:

[code]

But `com.h3xstream.findsecbugs:root-pom:1.1.0` does not exist in Maven Central.  This is a problem for the Gradle build tool, which attempts to resolve the parent POM:

[code]

[2013-10-01 14:57] #5 closed, assigned to h3xstream

[2013-10-22 04:24] dbaxa opened #12 "The BAD_HEXA_CONVERSION detector seems to have issues when UnconditionalValueDerefAnalysis is run later"
I am not sure what is occurring, but the code in https://github.com/h3xstream/find-sec-bugs/blob/master/plugin/src/main/java/com/h3xstream/findsecbugs/crypto/BadHexadecimalConversionDetector.java seems to somehow cause an error later in UnconditionalValueDerefAnalysis.checkNonNullParams. The code where this error is occurring has a method that receives an instance of an implementing class of an in

[2013-12-13 16:54] domak opened #14 "SQL Injection detected when StringBuilder is used with constant strings"
Hi,

As soon as I see a StringBuilder in JPA EntityManager.createQuery(), an SQL injection is detected:

[code]

Is it possible to improve detector by checking that no input parameter (method parameter or attribute) has been added to the StringBuilder?

On the code I try to verify, there are a lot of where clauses added if a parameter is not null (and the developper uses setParameter() method)

[2013-12-16 11:17] domak opened #15 "SQL injection on JPA EntityManager.createNativeQuery() is not checked"
Hi,

Following code should be added on your test suite:

[code]

(Maybe you prefer a fork with pull request to manage this kingd of enhancement request?)

Regards

[2014-01-03 15:51] #11 closed, assigned to h3xstream

[2014-01-03 15:51] #12 closed, assigned to h3xstream

[2014-06-16 17:18] #15 closed, assigned to h3xstream

[2014-10-06 20:11] tobijdc opened #18 "Tag 1.2.1 release"
I like following repositories by their Tags (with RSS).
Would you please Tag the latest (and future) release(s).

Btw. really appreciate your work.

[2014-10-07 00:16] #18 closed, assigned to h3xstream

[2014-11-03 15:11] lkubik opened #19 "Unsafe instructions iteration"
Hi,

I've tried to integrate your plugin to the EAP findbugs tests in jenkins but then I've got into some troubles. When I run the tests without the find-sec-bugs plugin, it ends with a couple of warnings but when I run it with the plugin then I get 42 analysis errors and a really long stack trace.

I run the tests inside the Jenkins and I use the Findbugs in the version 2.0.1. Find-sec-bugs is in

[2014-11-13 00:07] h3xstream opened #20 "XXE - Identify Parser Factory"
Currently the parse operations are flagged. It would be nice to also identify the instantiation (in case the parser is passed to a library).

Suggested by @davewichers

[2014-11-15 19:06] h3xstream opened #21 "Hibernate Restrictions API - Potential Injections"
Cover the following signature :
- Restrictions.sqlRestriction(String sql, Object[] values, Type[] types)
- Restrictions.sqlRestriction(String sql, Object value, Type type)

Reference : http://docs.jboss.org/hibernate/core/3.3/api/org/hibernate/criterion/Restrictions.html

[2014-11-15 19:07] h3xstream opened #22 "JDO PersistenceManager - Potential Injections"
- PersistenceManager.newQuery(java.lang.Class cls, java.util.Collection cln, java.lang.String filter)
- PersistenceManager.newQuery(java.lang.Class cls, java.lang.String filter)
- PersistenceManager.newQuery(Extent cln, java.lang.String filter)

Reference: https://db.apache.org/jdo/api21/apidocs/javax/jdo/PersistenceManager.html

[2014-11-15 19:09] h3xstream opened #23 "JDO Query - Potential Injections"
- Query.setFilter(java.lang.String filter)
- Query.setGrouping(java.lang.String group)

Reference : https://db.apache.org/jdo/api21/apidocs/javax/jdo/Query.html

[2014-12-22 02:17] ThrawnCA opened #24 "CipherWithNoIntegrityDetector throws exception on algorithm-only cipher lookups"
javax.crypto.Cipher.getInstance permits lookups using only the algorithm name; however, CipherWithNoIntegrityDetector expects a slash to be present in the argument, leading to an ArrayIndexOutOfBoundsException at line 94 when code like the following is used:

Cipher cipher = Cipher.getInstance("RSA");

     [java]   Exception analyzing TokenEncryptor using detector com.h3xstream.findsecbugs.crypto

[2014-12-22 05:29] h3xstream opened #25 "Fix links in the descriptions"
rsalabs link is broken (http://www.emc.com/domains/rsa/index.htm?id=2218 -> http://www.emc.com/emc-plus/rsa-labs/standards-initiatives/how-large-a-key-should-be-used.htm)
Links to owasp pages are unrelated in the XXE description.
Add link to blog post on Struts CSRF token (http://blog.h3xstream.com/2014/12/predicting-struts-csrf-token-cve-2014.html)
Add link to Rhino and SpEL malicious samples (ht

[2014-12-22 05:40] #23 closed, assigned to h3xstream

[2014-12-22 05:40] #22 closed, assigned to h3xstream

[2014-12-22 05:40] #25 closed, assigned to h3xstream

[2014-12-23 03:59] h3xstream opened #26 "XXE - Avoid false positive when secure features are set."
Xerces parser supports feature to disable entity. Which is the easiest way to patch vulnerable code.

Security warning should be remove when the following feature are sets:
- http://apache.org/xml/features/disallow-doctype-decl
- http://javax.xml.XMLConstants/feature/secure-processing
- http://xml.org/sax/features/external-general-entities (combined)
- http://xml.org/sax/features/external-paramete

[2014-12-23 04:22] #26 closed, assigned to h3xstream

[2014-12-24 04:39] #19 closed, assigned to h3xstream

[2014-12-24 04:44] h3xstream opened #27 "XXE - Separate guidelines (XMLReader/SaxParser/DocumentParser)"
The remediation should be specific to each api. This would require to separate XMLReader/SaxParser/DocumentParser description.

References:

[code]

~

[code]

https://www.owasp.org/index.php/XML_External_Entity_%28XXE%29_Processing

[2014-12-24 04:46] #20 closed, assigned to h3xstream

[2014-12-24 04:48] #27 closed, assigned to h3xstream

[2014-12-30 18:37] #21 closed, assigned to h3xstream

[2015-01-05 13:50] lkubik commented on #19
Hi @h3xstream ,

first of all I would like to thank you for the bug fix. Also big thanks to @amaembo for a great support.

I tested the fixed version and it works OK now. All of the "oops" exceptions are gone. However there is a one new exception. It appears when I run the analysis of the WildFly code:

[code]
What are the reasons to mark a method as an unprofitable to analyze?
Source of the metho

[2015-01-06 05:17] amaembo commented on #19
Hello! @lkubik, this Process.main method is too big. By default methodGen/CFG analysis is skipped for methods having bytecode longer than 6000 bytes. Otherwise analysis might become too slow and/or memory consuming. There's probably an option to switch this off, but I'm on vacation now so I cannot look in detail.

@h3xstream, it's probably better to silently ignore MethodUnprofitableException [her

[2015-01-06 06:17] h3xstream commented on #19
The analysis can't be done due to this missing method analysis.
I could log an error with no stacktrace and return immediately.

The change would be made at those places ..
(https://github.com/h3xstream/find-sec-bugs/search?utf8=%E2%9C%93&q=CFGBuilderException+)

[2015-01-06 11:41] lkubik opened #29 "MethodUnprofitableException throwing could be suppressed"
Hi,
as @amaembo said here https://github.com/h3xstream/find-sec-bugs/issues/19#issuecomment-68827294 this exception could be ignored.

I run into this exception while analyzing WildFly code.
Stacktrace:
[code]
Source of the method unprofitable to analyze is here:
http://svn.apache.org/viewvc/xalan/java/trunk/src/org/apache/xalan/xslt/Process.java?view=markup
If you run this shell script (in some e

[2015-01-06 11:43] lkubik commented on #19
@amaembo Thanks for the explanation. I used the command line option -effort:max and the exception is no longer thrown. So I guess the limit is off now. We analyze it on a relatively strong dedicated machines so I think that it shouldn't be a problem.

@h3xstream I opened new issue here: https://github.com/h3xstream/find-sec-bugs/issues/29
but it doesn't have a high priority because I use the FindB

[2015-01-06 12:41] amaembo commented on #29
Silently skipping the method in this case is better than rethrowing, because if you rethrow, then the rest of the class will not be analyzed as well. It's possible that there are more methods in this class which are shorter and can be analyzed, but when you throw a RuntimeException from the sawOpcode, the whole class analysis is cancelled. You may use AnalysisContext.logError or bugReporter.logErr

[2015-01-09 04:38] ThrawnCA commented on #24
New version fixes it, thanks.

According to the comments, though, RSA/ECB/* ciphers are OK, and yet this detector rejects them?

[2015-01-09 04:44] h3xstream commented on #24
This means there is a bug and a test case is missing.
I'll look at it.

[2015-01-12 23:02] ThrawnCA commented on #24
Our affected code is a Guice module that looks like this:

    public class CryptographyModule implements Module {

        private static final String JCE_PROVIDER_BOUNCY_CASTLE = "BC";

        @Retention(RetentionPolicy.RUNTIME)
        @BindingAnnotation
        public @interface Aes {
            String CIPHER = "AES";
        }

        @Retention(RetentionPolicy.RUNTIME)
        @BindingAnn

[2015-01-17 19:59] h3xstream opened #31 "Remove ESAPI references in messages"
https://github.com/h3xstream/find-sec-bugs/blob/master/plugin/src/main/resources/metadata/messages.xml

Replace ESAPI by OWASP Java Encoder in the resolution..

[2015-01-17 20:03] h3xstream opened #32 "Higher priority for injections"
https://github.com/h3xstream/find-sec-bugs/blob/master/plugin/src/main/java/com/h3xstream/findsecbugs/injection/InjectionDetector.java#L136

Rise the priority to HIGH for most Injection type SQL, script eval, etc.

[2015-01-17 20:05] h3xstream opened #33 "Move command injection to the main injection detector mecanism"
Code to move : https://github.com/h3xstream/find-sec-bugs/blob/master/plugin/src/main/java/com/h3xstream/findsecbugs/CommandInjectionDetector.java

[2015-01-18 18:14] h3xstream opened #34 "New Rule: Detect SSL disabler (Java + Scala implementation)"
Detect those utility classes (Scala/Java)
https://github.com/tferega/scala-ssl-disabler

[2015-01-19 04:45] h3xstream opened #35 "Add supports for the new URL specification for bug reference"
Add supports for the new URL specification for bug reference

    <MessageCollection>
        <Plugin>
            [...]
            <BugsUrl>http://</BugsUrl>
            <AllBugsUrl>http://</AllBugsUrl>
        </Plugin>
        [...]

New feature: http://sourceforge.net/p/findbugs/bugs/1342/
New XSD: https://findbugs.googlecode.com/git/findbugs/etc/messagecollection.xsd

[2015-01-22 23:17] ThrawnCA commented on #24
I would be happy to help with this, but I'm not entirely clear on which RSA ciphers are in fact safe.

I notice, however, that the 'no padding' bug description suggests that 'RSA/ECB/OAEPWithMD5AndMGF1Padding' is a good choice.

[2015-01-23 04:58] #35 closed

[2015-01-23 05:23] h3xstream commented on #24
The detector that trigger ECB mode usage target Symetric cipher only. The `RSA/ECB/*` is a false positive for this detector.

The only weak RSA cipher that I am aware is the `RSA/None/NoPadding` which is cover by [another detector](http://h3xstream.github.io/find-sec-bugs/bugs.htm#RSA_NO_PADDING).

__The fix__
The missing test case have proven once more that it is easy to do placebo fix.
I have cr

[2015-01-23 05:23] #24 closed

[2015-01-23 06:38] h3xstream commented on #29
That was easy. I only found one occurrence that was re-throwing MethodUnprofitableException (the one you mention).

[2015-01-23 06:38] #29 closed

[2015-02-23 05:41] #32 closed

[2015-02-23 05:41] #31 closed

[2015-03-12 04:35] dbaxa opened #37 "Support java 8 - upgrade to findbugs 3.0.0 or higher."
Currently several find-sec-bugs detectors do not work with the findbugs 3.0.0, the tests fail, this means using find-sec-bugs under java 8 does not work properly.

[2015-03-12 04:41] h3xstream commented on #37
Yup, I only saw the details of FindBugs 3.0 recently. http://comments.gmane.org/gmane.comp.java.findbugs.announce/62

Migration of BCEL to ASM will be require. Most likely modify the test framework.

[2015-03-12 16:01] h3xstream commented on #37
In 5246e6a1506f8378b6c7fe8925616054295ae8dd, the travis-ci configuration was upgrade to Java 8. The build worked locally and [now on the CI environnement](https://travis-ci.org/h3xstream/find-sec-bugs/builds/54110990).

The change was easier than expected FindBugs seems to be backward compatible.

@dbaxa Can you do a test with your projects?

[2015-03-12 23:24] dbaxa commented on #37
@h3xstream sure :-)

[2015-03-16 04:39] dbaxa commented on #37
It seems to work fine with our projects.

[2015-03-16 04:39] #37 closed

[2015-03-27 16:17] #33 closed

[2015-03-27 16:23] h3xstream opened #39 "New Android Security detectors"
Various Android specific rules :
- Storage on SD card
- Ask for user geolocation sampling
- WebView with JavaScript enabled
- WebView with JavaScript Interface bridge
- File written with MODE_WORLD_READABLE
- Guideline on using Broadcast

[2015-03-27 16:44] h3xstream commented on #39
This ticket was create for easier "Release Notes". The detectors were implement earlier this week.

Reference to the commits: a6f8e901ede1bb1c15053111780755ad9cbb2a3d d95bf1bb262a9ec4356fb4472a9f0dfd16cb82a5

[2015-03-27 16:44] #39 closed

[2015-04-08 01:13] patsimon opened #40 "Issue with mvn findbugs:gui"
I followed the steps to add the maven deps at https://github.com/h3xstream/find-sec-bugs/wiki/Maven-configuration

When I run mvn findbugs:gui (after running findbugs:findbugs) I get the following issue (using windows)
[code]

[2015-04-08 03:07] h3xstream commented on #40
What version of FindBugs and FindSecurityBugs are you using ?
(please include the `<plugin>` configuration segment)

[2015-04-08 03:17] h3xstream commented on #40
I have update the configuration with the latest version of each. [see](https://github.com/h3xstream/find-sec-bugs/wiki/Maven-configuration#1-pom-configuration)

[2015-04-09 06:01] patsimon commented on #40
I only copied the section over from https://github.com/h3xstream/find-sec-bugs/wiki/Maven-configuration#1-pom-configuration .. Looks like I need to add some seperate `<plugin>` tags outside of the `<build>` section?

[2015-04-09 17:28] h3xstream commented on #40
No it should be `/build/plugins/plugin`

[2015-04-17 07:15] kitenco opened #41 "Add release notes"
Hi there,

I am using FindSecBugs for a while now, its very cool and helpful.
But as there are now more than 60 bug pattern, It would be nice to have release notes,
to see which patterns are new since v1.4.0

[2015-04-20 04:51] h3xstream commented on #41
I will try to generated the list of enhancement made for the release.
I made effort to create issue for each new feature. It should help a bit.

[2015-04-20 04:54] h3xstream commented on #41
https://github.com/h3xstream/find-sec-bugs/blob/master/CHANGELOG.md

Let me know if you have suggestion on what to highlight.
For the moment, this log is auto-generated.

[2015-04-20 05:40] h3xstream commented on #41
GitHub has a section for the release notes. I think I will remove the CHANGELOG.md file.
https://github.com/h3xstream/find-sec-bugs/releases

I will not add release note to version prior <1.3.1. But, I will create similar summary for future releases.

[2015-04-20 05:42] #41 closed

[2015-04-23 22:58] dcsobral opened #42 "CustomInjectionSource.properties not found"
Getting a weird error when running findbugs with findsecbugs:

[code]

Relevant parts of my configuration

[code]

[2015-04-24 05:52] h3xstream commented on #42
Unless your have create custom injection rules. This configuration is totally optional.
On the other hand, the severity of the logged message should be change to WARNING or even INFO.
It will be added to the small fixes of `1.4.1`.

[2015-04-24 05:55] h3xstream commented on #8
It's time to add this simple rule! ;)

[2015-04-24 11:33] h3xstream opened #43 "Fix URLs in messages.xml"
The URL in [messages.xml](https://github.com/h3xstream/find-sec-bugs/blob/master/plugin/src/main/resources/metadata/messages.xml) should point to `bugs.htm` instead of the index page.

[2015-04-24 11:34] #43 closed

[2015-04-24 12:01] h3xstream commented on #8
@jglick Could you provided completed class files with the Safe and the Unsafe version.
I'm not sure which implementation of Authentication I could passed to setAuthentication().

You can commit the classes in the [testcode directory](https://github.com/h3xstream/find-sec-bugs/tree/master/plugin/src/test/java/testcode) or simplier on a [Gist](https://gist.github.com/).

[2015-04-24 12:58] h3xstream commented on #8
@jglick This is what I have at the moment. I will be writing the detectors base on those https://github.com/h3xstream/find-sec-bugs/tree/master/plugin/src/test/java/testcode/sessionfilter. If you could make them more realistic, that would made a better documentation..

[2015-04-24 13:05] h3xstream opened #44 "Update the documentation for Sonar Qube"
The Sonar Qube dedicated plugin (developped by Porsche Informatik) is no longer require since its included in the [FindBugs plugin](http://docs.sonarqube.org/display/SONAR/Findbugs+Plugin).

[2015-04-24 13:13] h3xstream opened #45 "NetBeans tutorial"
Thanks @dansdrivers for the [NetBeans tutorial](https://github.com/h3xstream/find-sec-bugs/wiki/NetBeans-Tutorial)

The tutorial will be linked on the micro-website soon.

[2015-04-25 13:14] kjlubick opened #47 "XXE - reader False Positive"
I came across XXE_XMLREADER and used the recommended solution from http://h3xstream.github.io/find-sec-bugs/bugs.htm, but the bugs persist in my Eclipse Luna IDE.

I made two methods with exactly that recommended code, and they still show up as bugs.

![image](https://cloud.githubusercontent.com/assets/6819944/7332998/1be597f6-eb2b-11e4-96dd-53045b355d85.png)

![image](https://cloud.githubusercont

[2015-04-26 22:39] h3xstream commented on #47
XMLReader was the only api with no false positive test... my bad. :)
It was assume that setFeature was the same as DocumentBuilder and SAXParser..

The fix will be included in the next release.

[2015-04-26 22:39] #47 closed

[2015-04-26 22:40] #45 closed

[2015-04-26 23:22] h3xstream commented on #40
@patsimon I didn't mention it explicitly but, with the latest version of the Maven plugin, I am unable to reproduce.

[2015-04-27 23:52] ThrawnCA opened #48 "RFE: detect XSS in Freemarker templates"
Where I work, we tend to use Freemarker for our view technology, rather than JSP, and unfortunately, while Freemarker certainly has built-in escaping capabilities, they can't be set as a global default.

How feasible is it for the checks that currently work on JSP pages to be adapted to Freemarker templates? I would be happy to do some work on this if it seems feasible.

[2015-04-28 00:48] h3xstream commented on #48
Unfortunately, FindBugs detectors can only analyze Java classes. Since Freemarker template aren't translate to bytecode, it is not possible at the moment. If it change (new feature in FB), let me know I would be interested to write new rules.

I highly suggest you to mention the suggestion on the [FindBugs mailing-list](https://mailman.cs.umd.edu/mailman/listinfo/findbugs-discuss).

[2015-04-28 01:26] #40 closed

[2015-04-28 03:49] ThrawnCA commented on #48
Ah, of course. Actually, the lack of compilation is (for us) one of the benefits of using Freemarker.

Thanks anyway.

[2015-04-28 03:49] #48 closed

[2015-04-28 04:30] h3xstream commented on #48
Yeah it is a limitation on FindBugs side. XML/YAML/JSON/properties could also benefit from a "free-form" analysis.

[2015-04-29 15:26] h3xstream opened #50 "Create a japanese page on the micro-website for the bug patterns"
Following the contribution #38 #49, it would be totally justify to create an online version of the message.
The IDE links (`BugsUrl` and `AllBugsUrl`) should point to this page.

[2015-04-30 05:13] h3xstream commented on #50
The page is now available : http://h3xstream.github.io/find-sec-bugs/bugs_ja.htm

[2015-04-30 05:13] #50 closed

[2015-05-01 03:27] h3xstream opened #51 "Create a tutorial for IntelliJ IDE"
Feature create for the auto-generation of the CHANGELOG.

New wiki page (tutorial):
https://github.com/h3xstream/find-sec-bugs/wiki/IntelliJ-Tutorial

TODO : Add a link in the micro website

[2015-05-01 04:40] #51 closed

[2015-05-01 04:40] #44 closed

[2015-05-01 04:40] #42 closed

[2015-05-02 04:09] h3xstream opened #52 "Add CWE references to messages (few missing)"
Few messages are missing CWE id.

[2015-05-11 23:30] aabashkin opened #54 "XXE Bug Patterns update"
Hello,

I'd like to submit a pattern update for XXE bugs. This provides a way to disable external entities without completely restricting DOCTYPE

[code]

[code]

[2015-05-12 03:34] h3xstream commented on #54
@aabashkin
Find-Security-Bugs supports many solutions to mitigate XXE.

The following is also supported.

    DocumentBuilderFactory dbf = DocumentBuilderFactory.newInstance();
    dbf.setFeature("http://xml.org/sax/features/external-general-entities",true);
    dbf.setFeature("http://xml.org/sax/features/external-parameter-entities",true);
    dbf.setXIncludeAware(false);
    dbf.setExpandEntityR

[2015-05-12 07:13] cschneider4711 commented on #54
Hallo,

Please also keep in mind that external parameter entities (not only external general entities) should also be disabled to mitigate XXE. Aside from that, even just resolving DTDs could be used to facilitate Server-Side Request Forgery attacks (SSRF). So just disabling external general entities would not be enough.

Best regards,
Christian

[2015-05-12 19:15] aabashkin commented on #54
@h3xstream Ah, thanks for the explanation I probably should dug into the code a bit more first :)

GenericInputParserHandler is a custom handler that I use in my test cases. It just extends the Default Handler.

I think it makes sense currently the way you've explained it, don't think it is a false positive.

@cschneider4711

Thanks for the useful info. External parameter entities are indeed an is

[2015-05-12 19:26] aabashkin opened #55 "New Rule : Detect Spring Eval JSP taglib"
Hi folks,

In regards to http://h3xstream.github.io/find-sec-bugs/bugs.htm#SPEL_INJECTION I think there is an update needed:

[code]

Here is the git:

https://github.com/aabashkin/web-security-testbed/blob/master/src/main/webapp/WEB-INF/views/spring-eval.jsp

http://localhost:8080/websecuritytestbed/code-injection/spring-eval?input=T%28java.lang.Runtime%29.getRuntime%28%29.exec%28%22cmd.exe%22%29

[2015-05-13 05:41] h3xstream commented on #54
@aabashkin Let me know if you have other thought or suggestion. (I will close the issue for now)

[2015-05-13 05:41] #54 closed

[2015-05-28 04:46] ThrawnCA opened #56 "New Rule : Seam Logger usage could lead to remote code execution"
The Seam framework accepts expression language in its log statements, so concatenating strings to pass to the logger is a very bad idea.

https://issues.jboss.org/browse/JBSEAM-5130

Is it easy enough to add a detector for this?

[2015-05-28 05:01] h3xstream commented on #56
You can take the Script Injection Detector as example : https://github.com/h3xstream/find-sec-bugs/tree/master/plugin/src/main/java/com/h3xstream/findsecbugs/injection/script

[2015-05-29 04:46] h3xstream opened #57 "Detector hard coded Spring OAuth secret key"
Code sample to target :

    clients.inMemory().withClient("client")
        .resourceIds(RESOURCE_ID)
        .authorizedGrantTypes("authorization_code", "implicit")
        .authorities("ROLE_CLIENT")
        .scopes("read", "write")
        .secret("secret");

[2015-05-29 04:51] h3xstream commented on #57
Implemented in commit 4a9d1237a48cbfe9bf4f7a99e91283f1c556d1dc

[2015-05-29 04:51] #57 closed

[2015-05-30 02:54] h3xstream commented on #52
Done

[2015-05-30 02:54] #52 closed

[2015-06-12 12:18] anagrys opened #61 "Issue with AES / CBC error detection - STATIC IV implementation"
In Java.
When I initialize a cipher for AES / CBC I get a STATIC IV error.

For encryption: I get this error even if the initialization vector is initialized from a SecureRandom object, provided the initialization is done in a dedicated method. Example of code:

    private final SecureRandom  random                     = new SecureRandom();

    protected byte[] generateInitVector(int length) {

[2015-06-15 02:40] h3xstream commented on #61
Thanks for the precise example.

From my experience, the false positive could often be eliminate with analyse scoped to the **method only**.
Analyzing other method adds extra work to the analyzer and it bring the ambiguity : does the method is overriding in the instance used at runtime?

Would it be ok to only consider `final` method ?

[2015-06-15 02:44] h3xstream opened #62 "False positive on Static IV when using Cipher.getIv()"
Static IV detector should support [Cipher.getIV()](http://docs.oracle.com/javase/7/docs/api/javax/crypto/Cipher.html#getIV()).

This api is probably the thing to use in most case. Maybe the [solution example](http://h3xstream.github.io/find-sec-bugs/bugs.htm#STATIC_IV) could be enhanced.

This false positive came up when analyzing the library [Apache Camel](http://camel.apache.org/index.html).

[2015-06-15 02:45] h3xstream commented on #61
This issue is happening at the moment where I am looking to do changes on this same detector #62 :)

[2015-07-06 14:07] trajano opened #64 "The IV generation should only be verified for the encryption mode"
I've created an OpenID RP implementation, and I had this message

However, I was not planning to use the IV for encryption but decryption.

From
https://github.com/trajano/openid-connect/blob/master/openid-connect-core/src/main/java/net/trajano/openidconnect/internal/JcaJsonWebTokenCrypto.java#L288

    final IvParameterSpec spec = new IvParameterSpec(initializationVector);
    contentCipher.init(

[2015-07-06 20:43] h3xstream commented on #64
Good point. It should not apply to decryption process..

[2015-07-19 15:01] mmoayyed opened #65 "Clarify the informational log message about CustomInjectionSource.properties"
When I run findbugs on a maven project, I see the following in the output:

[code]

Could this perhaps be logged at DEBUG level?

[2015-07-20 04:30] h3xstream commented on #65
This is intentionally put on INFO level. #42
This related to [an optional detector](http://h3xstream.github.io/find-sec-bugs/bugs.htm#CUSTOM_INJECTION) that allow the detection of injection for custom/proprietary API. It can be useful for user of this detector to make sure their configuration is loaded.

The fact that you mention some confusion means that we need to clarify the message.

[2015-07-20 04:36] mmoayyed commented on #65
Understood. I think the "Not Found" bit threw me off. Possible workaround might be, log a message when the property file is actually found which would indicate to the user that custom API is being used, or change the message to something that reads less like an error message perhaps.

[2015-08-01 17:50] h3xstream opened #68 "Remove slash from XXE short message"
Remove prefix slash in the message of XXE issue.

    The usage of /DocumentBuilder.parse(...) is vulnerable to XML External Entity attacks

[2015-08-04 04:31] ThrawnCA commented on #65
Perhaps something like this:

    com/h3xstream/findsecbugs/injection/custom/CustomInjectionSource.properties not found; disabling custom injection detector

[2015-08-05 21:55] ThrawnCA commented on #24
We're still seeing this bug detector fire on our code, along with the EcbModeDetector.

[2015-08-13 22:36] h3xstream opened #72 "New Rule : RSA/ECB/PKCS1Padding is vulnerable to padding oracle attack"
Apparently, **PKCS1Padding** is vulnerable to padding oracle attack. A simple rule should be made to recommend **RSA OEAP**.

    Cipher cipher = Cipher.getInstance("RSA/ECB/PKCS1Padding");

References:
 - http://archiv.infsec.ethz.ch/education/fs08/secsem/bleichenbacher98.pdf
 - http://www.iacr.org/archive/eurocrypt2000/1807/18070374-new.pdf
 - https://eprint.iacr.org/2012/417.pdf

Thanks to **To

[2015-08-18 15:52] h3xstream commented on #14
The initial code sample with StringBuilder is now supported. Even much more advanced flow analysis are done in **1.4.2**.
The release version will be available very soon.

[2015-08-18 19:38] #65 closed

[2015-08-18 19:38] #68 closed

[2015-08-18 19:38] #14 closed

[2015-08-19 03:48] #62 closed

[2015-08-19 03:48] #64 closed

[2015-08-19 04:00] h3xstream commented on #61
This false positive will not be resolve. (won't fix)
At least for now, the analysis will continue to stay scoped to the method only.

The DECRYPT_MODE case was address here -> #64

[2015-08-19 04:00] #61 closed

[2015-08-19 19:18] anagrys commented on #61
Thanks, I think the DECRYPT_MODE was truly a bug
For the other case I reckon it can be far more tricky to catch, especially when the method to generate the random number can be hidden anywhere in the call stack...

[2015-08-24 20:26] h3xstream opened #73 "JDBC api coverage"
Since the taint analysis has been largely improved, we don't have to rely on the built-in rule of FindBugs.

Many false positive could be eliminate this way.

APIs to cover
 - http://docs.oracle.com/javase/7/docs/api/java/sql/Statement.html
 - http://docs.oracle.com/javase/7/docs/api/java/sql/Connection.html
 - http://docs.oracle.com/javase/7/docs/api/java/sql/CallableStatement.html
 - http://docs

[2015-08-24 20:34] h3xstream opened #74 "Spring JDBC API"
Spring has a module for JDBC persistance : http://docs.spring.io/spring/docs/current/spring-framework-reference/html/jdbc.html

APIs to cover:
 - http://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/jdbc/core/JdbcOperations.html
 - http://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/jdbc/core/JdbcTemplate.html
 - http://docs.spring.io/spring/docs/current/

[2015-08-24 22:49] formanek commented on #73
I can add these. Expect a big pull request with many improvements soon :)

[2015-08-24 23:05] formanek commented on #73
Or better add them yourself - I still have many different ideas, so we can work in parallel :)

[2015-08-25 02:53] h3xstream commented on #73
@formanek Yup I am working on it this week.

[2015-08-28 11:58] jglick commented on #8
Sorry for my slow responses here. I encountered the issue in Jenkins, which is still using an old version of ACEGI Security, so it is probably not the best source of “realistic” examples for anyone else.

[2015-08-28 19:41] h3xstream commented on #8
@jglick At this point the samples are created.
The thing I'm missing is a description that I could add to [**messages.xml**](https://github.com/h3xstream/find-sec-bugs/blob/master/plugin/src/main/resources/metadata/messages.xml). Ideally a description that I could fully understand. :smile:

[2015-08-28 22:14] jglick commented on #8
OK that much I should be able to do, give me a week until I am slightly less busy…

[2015-08-28 22:31] h3xstream commented on #8
@jglick
Perfect. No stress on the time. It can be integrated at any time.

You can write the description in the **messages.xml** or directly in this Github Issue.
You can always find some inspiration here : http://h3xstream.github.io/find-sec-bugs/bugs.htm

Thanks

[2015-08-31 03:20] ThrawnCA opened #76 "EntityManager createQuery trips SECSQLIJPA even with safe usage"
Using the ``createQuery`` and ``createNativeQuery`` methods of a JPA EntityManager trips the SECSQLIJPA detector even if there are no tainted inputs.

This class trips the detector for me:

    package findbugs.sample;

    import javax.persistence.EntityManager;
    import javax.persistence.PersistenceContext;
    import javax.persistence.Query;

    public class TestInjectionWithConstantString {

[2015-08-31 05:51] h3xstream commented on #76
Yup. Confirmed. Note that the false positive are probably mark as LOW. (Contrary to Medium or High for Higher level confidence)
It was intended in the change done by @formanek.

I think I will be better to remove those false positives from the report.

[2015-08-31 06:19] h3xstream commented on #76
I'm planning to an urgent release of 1.4.3 ASAP.

[2015-08-31 06:19] h3xstream commented on #74
TODO : Description

[2015-08-31 06:19] h3xstream commented on #73
TODO : Description

[2015-08-31 12:56] formanek commented on #76
Yes, it is intended as an insurance in a case of a bad analysis, low confidence warnings are not shown in FindBugs GUI and I was inspired by h3xstream's code, when implemented this, so I have thought, it is ok. But if confidence levels are not supported by plugins, we should change it of course.

The easiest way of solving this is change of priority from low to ignore. Since I would like to have a

[2015-08-31 14:21] h3xstream commented on #76
@formanek : The fact that constant string are alerted is a bug/problem. Even in "Audit" mode, I don't want to see those.

The priority filter is applied to all bug patterns. I don't think it's possible to apply to a single bug pattern.

The only remaining bug I see is : https://github.com/h3xstream/find-sec-bugs/blob/b163725fc29a125205e2f56729644394d6b11b67/plugin/src/test/java/com/h3xstream/finds

[2015-08-31 15:01] formanek commented on #76
The fact, that constant strings are alerted (with low confidence) was intended by me, I am just surprised you did not know about that (I think it is quite clear from the code).

I am not sure if you know what I mean about priorities - I want to report a different bug type instead of the same bug type with changed priority only.

Ok, now I see the second problem (I was thinking that this is related

[2015-08-31 15:20] h3xstream commented on #76
@formanek I was aware of the low classification for false positive. The thing I didn't notice was that some real positive would fall in the same priority.. (No blaming here.)

The sudden urgency is related to the Sonar integration. There is no notion of priority in Sonar issue have fix severity (I think).

Yup having multiple bug patterns description could help. I would not rush on it. It require

[2015-08-31 16:45] formanek commented on #76
And what about the implementation of making parameter taint unknown for unknown methods? I would do this:
- add support for more mutable parameter indices
- add a method to TaintFrameModelingVisitor, that finds out stack parameter indices excluding those with an object type known to be immutable
- add method for default method summary to TaintMethodSummary
- modify getMethodSummary in TaintFrameMo

[2015-08-31 21:14] h3xstream commented on #76
@formanek : I have implemented the core idea. (changes to [TaintFrameModelingVisitor.java](https://github.com/h3xstream/find-sec-bugs/commit/8d4ef88a4e0200e22059767d00697905d35e62e8#diff-c1d98326cbc7a19685ad97d009b12372R246))

I see to small change needed to make this solution completed.

### 1. Add support for more mutable parameter indices (as you mention before)
We can either extract it from th

[2015-08-31 21:22] h3xstream opened #77 "Separate/Restructure the configuration files"
Currently, their are few configurations but one file is rapidly growing `methods-summaries.txt`.

I think it's a good moment to rethink how the API are stored logically[1] and the format of the file[2].
 - [1] List of files needed
 - [2] Maybe change the format to be more user friendly. (see reverse order of parameter and readability)

/cc @formanek, @naokikimura

[2015-08-31 21:34] h3xstream commented on #77
# Configuration files distribution

findsecbugs/configurations/

 - injection-jdo.txt
 - injection-jpa.txt
 - injection-custom.txt
 - injection...
 - ta-safe-methods.txt
 - ta-tainted-methods.txt
 - ta-transfer-methods.txt
 - password-methods.txt

# Format

If we want to make it user-friendly, I think we should switch the parameters index reference to the "readable format" instead of the stack-bas

[2015-08-31 22:23] formanek commented on #77
I was counting with splitting the file once it would be too large, so this can be done easily. I prefer splitting by API rather than by return taint state - it is easier to maintain and review. But if we do not modify Strings automatically, the size is still ok for me.

For parameters, you just need to know that they are counted from the right, from 0 and that long and double types are counted as

[2015-09-01 03:57] ThrawnCA commented on #76
@formanek My use case is that I enforce FindBugs checks in our Maven builds, starting with default priority and increasing sensitivity as I fix the bugs. I'm not all that interested in reporting, which people tend not to see up front, or the FindBugs GUI, which is nice when going through and fixing a stack of bugs, but otherwise not a part of our builds. Any time a detector fires, the build fails.

[2015-09-01 04:06] h3xstream commented on #77
@formanek Ok I see your point for the both. I will bring little benifit.
I will close the ticket. You convince me.

[2015-09-01 04:06] #77 closed

[2015-09-01 04:20] h3xstream commented on #76
@formanek If you want to implement the complete fix, you can go ahead. I had trouble implementing the support for the exclusion immutable type.

[2015-09-01 09:34] formanek commented on #76
@ThrawnCA Thank you for describing your use case. I think the current settings should be appropriate for you, you just need to stop increasing priority before going to low. Priorities in taint analysis bug patterns are used this way (but *LOW* will be removed probably):
- *HIGH* - high-probable bugs, almost no false positives, useful for build breakers
- *LOW* - ideally **only false positives**, t

[2015-09-01 11:07] formanek commented on #76
@h3xstream I will try it today or tomorrow. The current implementation is not working for mutable types neither (I see the relevant test switched off).

[2015-09-02 00:27] ThrawnCA commented on #76
@formanek I don't think that false positives should have a priority at all. I would expect Low to be used for bugs with limited impact, thus no urgency to fix them. Eg FI_FINALIZER_ONLY_NULLS_FIELDS, or ISC_INSTANTIATE_STATIC_CLASS, are bugs that don't affect much.

[2015-09-02 11:10] formanek commented on #76
@ThrawnCA It is actually not a priority (despite using this word in the code), but *confidence* (not related to impact). There is also a *bug rank*, which should be used to order bugs according to how much scary they are.

Everybody wants no false positives to be reported, the problem is that the analysis is quite complex and I cannot guarantee, that no true positives are missed. The approach in o

[2015-09-02 16:23] h3xstream commented on #76
@formanek What case would fall in the LOW priority?

[2015-09-03 10:07] formanek commented on #76
@h3xstream I have already identified (and fixed) bugs in the analysis, that could report true positives with the low confidence. Currently, I'm not aware of any examples of this problem, but since I have not done any large scale testing yet (or not large enough), I'm definitely not 100% confident. We have already agreed on not reporting those, but I'm going to report them under a different bug typ

[2015-09-03 20:36] h3xstream commented on #76
Maybe the IGNORE_PRIORITY could be use for that..
..Or a switch could be add (system variable?) to report the FP. This way unless you specify the special argument you don't see the FP.

[2015-09-03 20:57] formanek commented on #76
I'm not sure, how various FindBugs plugins handle IGNORE_PRIORITY so I'm afraid the problem could be the same as with LOW_PRIORITY.

I think, I'll make a new bug pattern in the experimental category and report all sinks (for all types of injection) with safe source here. If somebody doesn't like it, I can also do this only if a special parameter is given to FindBugs.

[2015-09-04 01:15] ThrawnCA commented on #76
@formanek That sounds fine, thanks.

For me, there would be no need for a parameter. I can just switch off the bug pattern if I don't want it.

[2015-09-04 01:29] h3xstream commented on #76
@formanek The problem I see is that we have 8 specialized bug pattern (descriptions). The "potential" false positive would have to be a generic description for all cases.

I am still thinking about option. Maybe we could passed to the short description an indication of the category but it's not good for usability. The short description is not highlight so much in the tools.

[2015-09-06 06:40] h3xstream commented on #74
@naokikimura I have update the description for two new descriptions. (70e59acd6bdd133731926fe6d1c0b9b138879d31)

The description is identical to other SQL injection. There should not be a need for a new translation you can see the result here : http://h3xstream.github.io/find-sec-bugs/bugs_ja.htm#SQL_INJECTION_SPRING_JDBC

[2015-09-06 06:41] #74 closed

[2015-09-06 06:41] #73 closed

[2015-09-06 07:01] h3xstream commented on #76
Now that the test case "InjectionWithStringBuilderTest#avoidFalsePositive", it means that the constant string and string derived from safe StringBuilder are not reported. This include the sample provided in the report.

@ThrawnCA  This is the result of the pull request  #78 from @formanek.

I will do a release soon.

[2015-09-06 07:03] #76 closed

[2015-09-06 22:55] formanek commented on #76
@h3xstream I fixed some unknown bugs recently and I'm working on making the code more robust, could you wait a few days before doing a release?

[2015-09-07 05:30] h3xstream opened #79 "Fix DES detection"
Currently "DES/CBC/NoPadding" is detected but not "DES".
Ref: https://github.com/h3xstream/find-sec-bugs/blob/master/plugin/src/main/java/com/h3xstream/findsecbugs/crypto/DesUsageDetector.java#L64

[2015-09-07 05:32] #79 closed

[2015-09-07 05:34] h3xstream commented on #76
@formanek No problem.
Please create a ticket for the issue/enhancement you are working on.

[2015-09-07 05:41] h3xstream opened #80 "Issue with constructor with List and array as parameter (Command injection detection)"
The following sample trigger vulnerability while it should be consider safe (false positive).
The issue is related to the constructor signature accepting `java.util.List` or `String` array.

[code]

[2015-09-07 06:08] h3xstream opened #81 "(Dev internal) Debug info for taint value to allow troubleshooting of the stack"
I am trying to have better vision of the evolution of the taint values.
It is hard to have a clear view of the stack and know where the states come from.

/cc @formanek

[2015-09-07 06:34] h3xstream commented on #81
The implementation of such debug feature require the inclusion of additional info that their creation.
For example, the exact String value if `LDC` instruction is the source or the method/constructor name.

The method `printStackState()` can be called each time a breakpoint is reach in the debugger.

The visual look like this.
[code]

[2015-09-07 09:39] formanek commented on #80
@h3xstream This seems to be fixed after modifications, I have made.

[2015-09-07 11:02] formanek opened #82 "Too many iterations bug"
I had to disable the method taint summary for ``List.clear()`` (and other clear methods), because even though this usually worked, sometimes it created a horrible error - not only the analysis for the current method failed, but exceptions continued to be thrown everywhere - even in places, where was no code and outside of FindSecurityBugs. Moreover, this continued for another project (with arbitra

[2015-09-07 11:10] formanek opened #83 "Taint not transfered in chained call of StringBuilder.append"
In a piece of code like this
[code]
the taint state from variable ``tainted`` is not transferred to ``builder``. As a result, there can be false negatives, if this construction is used. In practise, *toString* methods with false safe taint state were sometimes generated.

This was fixed by proper taint transfer between the stack and local variables.

[2015-09-07 11:20] formanek opened #84 "Invalid taint modifications of local variables, when loaded from method summary"
Local variable index of a taint added to a new method summary must be invalidated. Otherwise, invalid taint is loaded during method invocation and some unrelated local variables could be modified or even an invalid frame index accessed (throwing an exception).

[2015-09-11 20:57] formanek opened #85 "Bad method summaries derived for complex flow"
Because of the direct `Taint` instances modifications, the `Taint` class had its `equals` method defined only for the `state` attribute - full equals caused an error from the issue #82. For this reason, the analysis sometimes finished too early (with less iterations than actually needed) and some parameter was missing in the summary or non-parametric taint was invalid. Although this affected less

[2015-09-13 18:56] h3xstream opened #86 "Insecure cookie"
## Pattern
The pattern is simple spotted this code..
[code]

while avoiding this one:
[code]

### Alternative

A much better approach would be to add a configuration to the web container or the `web.xml` to avoid manual configuration.
[code]
 (This second approach will be documented in the description.)

[2015-09-13 19:03] h3xstream commented on #86
It's not a bug. It's a feature.

[2015-09-14 00:53] h3xstream opened #87 "Improve the detection in the use of old ciphers"
The use of DES could be improved. Some signatures are not taken into account.
See : `Cipher.getInstance(...);`

[2015-09-14 00:54] h3xstream opened #88 "Improve the detection of weak message digest"
The use of MD5/SHA1 could be improved. Some signatures are not taken into account.
See : `MessageDigest.getInstance(...);`

[2015-09-14 01:51] #86 closed

[2015-09-14 01:51] #87 closed

[2015-09-14 01:51] #88 closed

[2015-09-14 01:52] h3xstream commented on #81
The proposition was rollback 48679000da4ef5b87a8b62249d09b50522c1e975.
The addition will be made in the next release.

[2015-09-14 04:42] h3xstream opened #89 "Add coverage for LDAP injection"
The standard LDAP api rely on the standard DirContext API. This create the possibility of installation from multiple types.

[2015-09-14 12:24] formanek opened #90 "Parametric taint state not changed when used as an argument of an unknown method"
When a parameter is passed to an unknown method, the taint state is changed to *unknown* if it was *safe* before. However, if there are taint parameters set, the non-parametric taint state was not modified. As a result, invalid method summaries could be generated. For example, the summary of a piece of code like this would be *0,SAFE* instead of *0,UNKNOWN*
[code]

[2015-09-14 20:18] formanek opened #92 "All Runtime.exec methods should be taint sinks"
Only one-parameter `exec` methods are considered to be taint sinks for command injection. Tainted parameters in other methods are not detected, so there are false negatives.

[2015-09-15 00:02] xeno6696 commented on #92
I agree.  The single argument call is a pure convenience method.  You
should also flag the other signatures.

On Mon, Sep 14, 2015, 15:18 formanek <notifications@github.com> wrote:

[2015-09-15 04:13] #89 closed

[2015-09-15 14:33] #92 closed

[2015-09-15 14:47] formanek commented on #92
I have added first two arguments for missing methods, because rewriting environment variables could be dangerous. Should I add the third argument (working directory) too? Could calling `exec(safe1, safe2, new File(taintedVariable))` cause a vulnerability? I think this would be dangerous for some commands, but not an injection and probably intended behaviour.

[2015-09-15 14:48] h3xstream commented on #92
It would fall in the directory traversal category ?

[2015-09-15 14:58] formanek commented on #92
Yes, detector for path traversal should handle it. We should make a new detector using taint analysis (in version 1.4.4?).

[2015-09-15 15:29] h3xstream commented on #92
I also think the path traversal detector should be transform into a `TaintDetector`.
It could be made in 1.4.4.

[2015-09-15 23:29] #80 closed

[2015-09-16 10:30] #82 closed

[2015-09-16 10:31] #83 closed

[2015-09-16 10:31] #84 closed

[2015-09-16 10:31] #85 closed

[2015-09-16 10:32] #90 closed

[2015-09-16 19:22] trajano opened #95 "findsecbugs:UNVALIDATED_REDIRECT and context path"
I have a redirect that is based on the context path of the request.  The context path is not user entered and will be set to whatever the context is being used.

In addition, the URI being assembled with it has already been normalized, verified that it is not absolute and start with a path separator.  As such the following code should not trigger the warning.

        final URI stateUri = URI.crea

[2015-09-16 20:13] h3xstream commented on #95
Great suggestion. It could also be the suggested code in the description for open direct.

[2015-09-16 23:08] trajano commented on #95
What is "open direct"?

[2015-09-16 23:09] trajano commented on #95
Make sure when checking that `normalize` is in fact called, because you may get "../../.."

[2015-09-17 10:46] formanek commented on #95
The analysis does not take conditions in conditional statements into account, so I'm afraid this will stay unsupported in the near future.

[2015-09-17 15:19] h3xstream commented on #95
@formanek
There is family of bugs patterns that I'm interested to cover is **Injectable parameter** requiring prefixes.

Considering the follow cases should be safe from Open redirect:
[code]
or
[code]
or
[code]

It is not possible to redirect to another domain using these code because adding an external URL would create : `/http://evil.com` (invalid relative URL).

-------

There is one caveat to

[2015-09-17 15:58] trajano commented on #95
ya you need to ensure somehow that the redirect URI has been checked to make it was marked as `isAbsolute()` and `getPath().startsWith("/")` however I am not sure how you can validate any of that.  Maybe not possible with findbugs?

[2015-09-17 20:01] trajano commented on #95
However as I noted earlier `normalize` should also be called on the appended path.  Otherwise, we can redirect to another part of the site that may not be allowed e.g.

    state = "/../../othersecurepart";
    resp.sendRedirect(req.getContextPath() + state);

[2015-09-17 21:32] formanek commented on #95
@h3xstream Nice idea, but I'm not sure how to detect prefix in bytecode - maybe something like values between the last call of `StringBuilder` constructor before `URI.create` and the first call of `StringBuilder.append` after that :)

Tracking what was checked probably would be possible by rewriting some methods of classes, which I'm only extending now, and creating temporary attributes removed at

[2015-09-18 12:38] formanek opened #96 "Refactor injection detectors"
I want to refactor detectors using taint analysis to use hash maps and full method names instead of confused and slow conditional statements. It should be very easy to add a new sink and check the existing sinks. I would also put another abstract class between `TaintDetector` and concrete detectors and make more methods abstract to enable alter the behaviour for concrete injection types for the fu

[2015-09-18 12:45] formanek opened #97 "Path traversal and Xpath injection detectors should use taint analysis"
Current implementations use `OpcodeStackDetector`, which has very weak analysis for avoiding false positives. Creating taint detectors for these kinds of injection should be easy, especially after implementing #96.

[2015-09-18 13:34] formanek opened #98 "Consider inheritance for method summaries"
When a taint method summary is stored, the output taint should be transferred to its super methods by merging too. Vice versa, when a method summary is loaded and not found, we should search for the nearest super method. This would allow more accurate analysis and more concise method configuration. `Hierarchy2` class from FindBugs could be used in implementation.

[2015-09-19 22:03] formanek opened #99 "Better support for collections"
Besides some types of lists, we should also support sets and maps and more implementing classes. Configuration of method summaries should not become too large after implementing #98. For full support, we also need to include iterators and methods from `Collections` class.

[2015-09-23 17:15] h3xstream opened #100 "Standalone command line tool to scan jars with or without the source"
I already have build a unofficial command line tool that bundle FindBugs and FindSecurityBugs.
I think it could be useful to release it for the following use cases: scanning dependencies, scanning application without the source code and Android binary (transformed from dex2jar).

The new tool would be a separated module that depends on the plugin module.

[2015-09-23 17:32] xeno6696 commented on #100
I would love to have access to a tool like that.  One of my contracts
wanted me to validate findbugs results and I had to cobble together some
shell scripts in order to pull it off outside of Eclipse.

On Wed, Sep 23, 2015 at 12:15 PM, Philippe Arteau <notifications@github.com>
wrote:

--
Matt Seil
Cyber Security Software Engineer
Member ACM/OWASP

[2015-09-23 20:14] h3xstream opened #101 "Push release 1.4.3 to upstream projects"
I need to update or notify the following projects.
 - [x] Jenkins [jenkinsci/findbugs-plugin #10](https://github.com/jenkinsci/findbugs-plugin/pull/10)
 - [x] SonarQube ([SonarSource/sonar-findbugs #11](https://github.com/SonarSource/sonar-findbugs/pull/11))
 - [x] IntelliJ ([andrepdo/findbugs-idea #107](https://github.com/andrepdo/findbugs-idea/issues/107))
 - [x] Benchmark ([OWASP/Benchmark #12]

[2015-09-24 10:46] formanek commented on #100
What are the advantages over standalone FindBugs GUI and CLI? It can scan JARs without the source and generate HTML reports, you just need to drop FindSecurityBugs to the plugin folder.

[2015-09-24 19:51] h3xstream commented on #100
The idea would be to wrap the current CLI or create something new.

The idea is to have a simpler alternative: single jar and with minimal configuration.
`java -jar findsecbugs.jar App.jar`
`java -jar findsecbugs.jar -profile=webapp App.jar`
`java -jar findsecbugs.jar -profile=android App.jar`

It could potentially support the other FindBugs CLI arguments.

[2015-09-28 13:39] sumy7 opened #103 "The meaning of methods-summaries.txt"
I want to add some rules to the [methods-summaries.txt](https://github.com/h3xstream/find-sec-bugs/blob/master/plugin/src/main/resources/taint-config/methods-summaries.txt) file, but I do not understand the meaning of the number before or after `#`.
I need some help.

---
Example

    java/lang/StringBuilder.append(Ljava/lang/String;)Ljava/lang/StringBuilder;:0,1#1
    java/util/StringTokenizer.<i

[2015-09-28 14:15] formanek commented on #103
These numbers specify method parameters starting from the right from 0 (note that long and double types takes two slots). For a non-static *n*-parameter method (without long and doubles), number *n* means the object instance. The objects specified by numbers before `#` are used to extract their taint value and then merged into resulting taint, which is set, when the method return value is used. Th

[2015-09-29 12:16] sumy7 commented on #103
@formanek , thanks.
I have a piece of code, please help me see if I understand correctly.

    jdbcRs = new JdbcRowSetImpl(con);
jdbcRs.setCommand("select * from COFFEES");
jdbcRs.execute();

[2015-09-29 12:16] #103 closed

[2015-09-29 12:23] sumy7 commented on #103
@formanek , thanks.
I have a piece of code, please help me see if I understand correctly.

    jdbcRs = new JdbcRowSetImpl(con);
    jdbcRs.setCommand("select * from COFFEES");
    jdbcRs.execute();

For the LINE 2:

    com/sun/rowset/JdbcRowSetImpl.setCommand(Ljava/lang/String;)V:0,1#1

The [docs](http://docs.oracle.com/cd/E17824_01/dsc_docs/docs/jscreator/apis/rowset/com/sun/rowset/JdbcRowSetIm

[2015-09-29 14:48] h3xstream commented on #103
Quick note : There seems to be a [lot of implementations](http://docs.oracle.com/javase/1.5.0/docs/api/javax/sql/RowSet.html) of the `RowSet` interface including [WebSphere](http://docs.oracle.com/javase/1.5.0/docs/api/javax/sql/RowSet.html) and Sun specific implementations.

[2015-09-30 11:28] formanek commented on #103
@sumy7 The summary is right, if you want to mark `JdbcRowSetImpl` instances as tainted from its argument, but this makes sense only if there is a taint sink accepting these objects or there are some configured taint transfer methods to convert it to a type accepted by some sink (usually `String`) or some supported object type, which is later converted. If you want to detect usage of `jdbcRs.setCom

[2015-10-03 05:05] h3xstream commented on #55
I have done some testing just to confirm vulnerable samples:

**Vulnerables:**
[code]
[code]
[code]
**Safe:**
[code]

My conclusion is that we can only consider safe the value that follow the regex `[\w\.]+`

[2015-10-03 21:48] h3xstream opened #104 "New rule : Detect dynamic JSP Includes"
Detect jsp include where the source included is dynamically constructed.

**Unsafe samples**
[code]
[code]
**Safe samples**

[code]
[code]
[code]

[2015-10-04 01:00] #101 closed

[2015-10-08 17:28] h3xstream opened #105 "Missing taint sinks for LDAP Injection"
Add coverage for the method search for DirContext
 - [DirContext.lookup()](http://docs.oracle.com/javase/7/docs/api/javax/naming/Context.html#lookup(javax.naming.Name))

Thanks to @mcwww for the information

[2015-10-08 20:18] h3xstream commented on #55
@aabashkin

The vulnerable / safe samples come from the tests I made.
I conclude that the attribute are resolved first and then pass to the taglib.

-------------
This mean that the jsp code

`<spring:eval expression="param.value" var="result" />`

can be translate to:
[code]

----------------

`<spring:eval expression="${param.value}" var="result" />`

can be translate to:
[code]

[2015-10-09 13:06] formanek commented on #98
Transferring output taints was not so good idea, because then for example a single tainted ``toString`` call would cause all calls to be tainted. Instead of this, even default summaries are stored if their super methods have some summaries stored, and concrete instance class is remembered for each taint if possible (and then used instead of super method or interface, see commits for details). I ha

[2015-10-09 13:15] formanek opened #106 "Method arguments are not tainted if their derived summary is stored"
Taint method summary derivation cannot derive taint changes in mutable stack indices and the summary is stored without change of arguments taint. Then the arguments are not tainted if this method is called, because taint summary exists. This could rarely cause false negatives. We have to differ between configured and derived summaries until we are able to derive mutable stack indices.

[2015-10-09 13:36] formanek commented on #105
It seems to be already included in ``JndiLdapInjectionSource``.

[2015-10-09 14:29] h3xstream commented on #105
@formanek My mistake. The missing API was actually lookup.
Ref: https://www.owasp.org/index.php?title=OWASP_Backend_Security_Project_Java_Security_Programming&setlang=es#Examples_of_codes_vulnerable_to_LDAP_Injection

[2015-10-09 14:35] h3xstream commented on #105
I will not added any new signature until the refactoring on taint detector is completed. #96

[2015-10-09 15:33] #98 closed

[2015-10-09 15:33] #99 closed

[2015-10-09 15:33] #106 closed

[2015-10-11 12:10] formanek opened #108 "Add taint sinks for XPath injection"
Not all methods from ``org.apache.xpath.XPathAPI`` are included and there are more APIs to add.

[2015-10-11 13:12] formanek commented on #108
There is also a bug in ``XPathInjectionJavaxDetector`` - bad argument in method ``evaluate`` is checked (0 instead of 1). Plus the other 3 methods with different signatures are not checked at all.

[2015-10-13 20:50] formanek opened #109 "Missing taint sinks for Spring SQL injection"
Besides missing package ``org.springframework.jdbc.core.simple.SimpleJdbcTemplate`` mentioned in source code, there are missing methods from ``JdbcOperations`` (and ``JdbcTemplate``) - namely 3 ``query`` methods and ``queryForList`` with ``Object...`` as last argument type and all ``update`` methods (accepting ``String``). Plus method [``newPreparedStatementCreator``](http://docs.spring.io/spring/

[2015-10-14 06:34] h3xstream opened #110 "Improvements for JSP support"
This ticket will regroup the modification related to the JSP improvement of 1.4.4

- [x] Make test assertion on JSP line rather than generated Java source.
- [x] Update the Jetty JSP compiler (partial)
- [x] New rule : Detect dynamic JSP Includes #104
- [x] New Rule : Detect Spring Eval JSP taglib #55
- [x] New Rule : JSTL out escapeXml=false #114

[2015-10-14 13:56] formanek commented on #109
There is also a bug - settings of the injectable parameter for 2-agrument ``execute`` methods are wrong (2 instead of 1) - this causes a false positive every time one of these methods is called in the code (because taint state of the instance is unknown) and injection is never reported with high confidence if the parameter actually is tainted.

[2015-10-14 16:57] h3xstream opened #111 "Scala support"
This is long term enhancement that need to be done. I will document those even if it is only going to be introduce in 2 or 3 release.

For the info, most of the research below was provided by Include Security. See their [Black Hat EU talk](https://www.youtube.com/watch?v=gCRWvlmX7Is).

 - [ ] XSS in Play Scala template : `@Html()` in `*.scala.html` template
 - [ ] XSS in Play controller : `Ok().as

[2015-10-14 18:13] jaxley opened #112 "Error scanning Scala code in IntelliJ"
I dropped the latest 1.4.3 jar in the current Findbugs-IDEA plugin version of findbugs (FindBugs-IDEA-0.9.997).

1. Files scanned drops precipitously (21 using 1.4.1; 5 using 1.4.3)
1. This exception shows up in the Event Log:  11:07:02 AM AssertionError: Out of bounds mutables in static main.AuthNState$.()V (show balloon)

I'm scanning Scala code as a test.

[2015-10-14 18:35] h3xstream commented on #112
@jaxley Can you provide a sample from `main.AuthNState`? You can offuscate the code as you need.
Without this test case, it will be hard to reproduce.

Note : You are part of the first users for Scala.

[2015-10-14 20:23] jaxley commented on #112
Happy to be an early adopter ;-)

The error does not occur until I define the Boolean method that does the comparison.  Here's similar code that reproduces the error:

[code]

I also didn't notice there was a stacktrace available for the bug:

[code]

[2015-10-15 09:15] mweiden commented on #111
This sounds great. I've created custom filters for command injection already, in fact: https://gist.github.com/mweiden/4ed53991d94bec58113e

...though I'd imagine that you'd want to build this into the framework itself.

Have you considered extending filters for [finagle](https://github.com/twitter/finagle)? We would be particularly interested in working with you on this.

[2015-10-15 09:34] formanek commented on #111
@mweiden I can easily add these taint sinks to be reported directly as command injection, ok?

[2015-10-15 10:01] formanek commented on #112
@jaxley It's just an assertion for developers to detect something, which I've thought should never happen, you can get rid of it by switching the assertions off and the analysis should continue normally :) Scala probably produces some code, which Java can't (or it is very uncommon). Unfortunately, I cannot program in Scala, so I would need a bytecode of the problematic code to debug it. Easiest so

[2015-10-15 10:06] mweiden commented on #111
@formanek that sounds great!

Please double check that I've correctly caught all the process creation methods, though. There are a lot and it would be great to have a second set of :eyes:

https://github.com/scala/legacy-svn-scala/blob/master/src/library/scala/sys/process/Process.scala#L44-L183

[2015-10-15 21:21] formanek commented on #111
@mweiden I see the configuration is wrong - adding more injectable arguments at separated lines is not supported, they must be specified at once separated by comma.

Another problem is that we don't support tracking taint state of these arguments other than ``String`` yet, so false positives suppression doesn't work then. I can add support for ``URL`` and ``File``. Because I cannot program in Scal

[2015-10-15 22:14] h3xstream commented on #111
@formanek I can take the responsibility of creating the code samples for Scala.
I think it will be more manageable to concentrate on the current refactoring of taint analysis and introduce some Scala support in the next release. (The support for those signatures and Scala type can wait a release.)

I will pretty occupied in the next two weeks with JavaOne. But, I will post an update on this thread

[2015-10-16 21:54] formanek opened #113 "Path traversal false positives"
There are two bugs in ``PathTraversalDetector``:

1. ``new RandomAccessFile("safe", "r")`` is reported, because access mode is checked (why?) for variable string and the condition is negated (typing error?), so a bug is shown for constants in the second argument. I think access mode should not be checked, since ``new RandomAccessFile("safe", tainted)`` is not very dangerous

2. ``new FileWriter("s

[2015-10-17 05:02] h3xstream commented on #113
Nice catch.

[2015-10-17 21:07] h3xstream opened #114 "New Rule : JSTL out escapeXml=false"
Simple rule:

**Unsafe**
[code]

**Safe**

`<c:out value="${param.test_param}"/>`

`<c:out value="${param.test_param}" escapeXml="true"/>`

[2015-10-17 21:15] #55 closed

[2015-10-17 21:15] #104 closed

[2015-10-17 21:15] #114 closed

[2015-10-18 15:00] #96 closed

[2015-10-18 15:00] #97 closed

[2015-10-18 15:00] #105 closed

[2015-10-18 15:00] #109 closed

[2015-10-18 15:00] #113 closed

[2015-10-19 07:46] DP4711 opened #116 "How can I mark / exclude false positives?"
Hi,

just a quick question. How can I mark (or exclude) false positives so that they aren't shown as an issue anymore?

E.g.
`File file = new File(path);`

shows a possible PATH_TRAVERSAL_IN vulnerability. If I know that the path traversal can't happen I would like to exclude it. But using @SuppressFBWarnings doesn't work. The issue is still reported
[code]

[2015-10-19 11:01] mweiden commented on #111
@h3xstream @formanek that's awesome thanks for the feedback on that. Going forward, I develop in scala quite a bit so if you spec something out for implementation or need review on a PR, I can do that.

[2015-10-19 12:05] formanek commented on #116
@DP4711 Hi, this is the matter of FindBugs (not this plugin), but try moving the annotation to the method level. I prefer marking false positives externally.

[2015-10-19 12:51] DP4711 commented on #116
Ok. Thanks

[2015-10-19 12:51] #116 closed

[2015-10-20 12:02] jsotuyod opened #117 "Android Broadcast detector will report on all broadcasts, even secure ones"
The [detector has no logic to distinguish between secure and insecure broadcasts](https://github.com/h3xstream/find-sec-bugs/blob/master/plugin/src/main/java/com/h3xstream/findsecbugs/android/BroadcastDetector.java). Suppressing the error once the issue is solved is the only way to silence it, but doing so ay introduce undetected regressions later on.

[2015-10-22 19:52] gpacersw opened #118 "IntelliJ findsecbugs plugin fails with unable to load descriptor file error"
Upon review of the findsecbugs-plugin-1.4.3.jar contents it does not contain a plugin.xml file in the META-INF directory.  I am using IntelliJ 14.1.5.  In looking at QAPlug - Findbugs for example, they have a plugin.xml file that starts with:

<idea-plugin version="2" url="http://qaplug.com">
    <name>QAPlug - FindBugs</name>
    <description>FindBugs module for QAPlug - an Intellij IDEA plugin t

[2015-10-22 20:26] h3xstream opened #119 "Description for weak digest need an update"
The description are outdated.
http://h3xstream.github.io/find-sec-bugs/bugs.htm#WEAK_MESSAGE_DIGEST

The description was valid in 2012 but not now. SHA-1 should not be mentions. Also link to relevant article on the status of SHA-1.

[2015-10-23 07:11] formanek commented on #119
I had the same idea. I also think that SHA-1 should be reported with higher priority (maybe with medium and raise priority of MD2 and MD5 to high). I've been modifying the `messages.xml` recently, please wait for my pull request until changing it to prevent merge conflicts.

[2015-10-23 10:41] formanek opened #120 "Add methods for weak message digest"
The issue #119 made me to look at this detector and I have found 5 missing methods from [`DigestUtils`](https://commons.apache.org/proper/commons-codec/apidocs/org/apache/commons/codec/digest/DigestUtils.html). We should also check using of weak hash functions in signature algorithms (class [`Signature`](http://docs.oracle.com/javase/8/docs/api/java/security/Signature.html)). I will add those meth

[2015-10-23 11:58] formanek opened #121 "Detector for HTTP response splitting"
I have created a taint detector for [HTTP response splitting](https://cwe.mitre.org/data/definitions/113.html) weakness. Potentially dangerous methods that I've included are `setHeader` and `addHeader` from `HttpServletResponse` and `setValue` and constructor from `Cookie`.

[2015-10-25 17:12] #120 closed

[2015-10-25 17:12] #121 closed

[2015-10-25 17:20] h3xstream commented on #118
The `findbugs.xml` and `messages.xml`have always been in the root of the plugin.jar

Do you know what version FindBugs QAPlug is using? I am assuming it use the same API as IntelliJ and Eclipse plugins does.

[2015-11-06 13:06] formanek opened #123 "Detector for CRLF injection in logs (CWE-117)"
I have created a taint detector to report logging of tainted values. All significant APIs should be covered.

[2015-11-06 13:09] formanek opened #124 "Detector for external control of configuration (CWE-15)"
I have created a detector and added a single method sink - `Connection.setCatalog`. Let me know if you are aware of any other potentially vulnerable methods.

[2015-11-06 16:05] #123 closed

[2015-11-06 16:05] #124 closed

[2015-11-09 08:43] tony1016 opened #126 "Hard coded keys false positive when loading bytes from FileInputStream"
A sample  code like this but reported hard coded keys.
[code]

Is this a bug??

[2015-11-09 14:56] formanek commented on #126
Yes, it is a bug, thanks for reporting. It's caused by simplified analysis used for this detector. I can do a quick fix for the case, where keys are loaded from files like here. Taint analysis (much more advanced) should be used to detect hard coded keys in the future.

[2015-11-11 10:57] h3xstream commented on #110
The rules set are complete.

Side note: Currently their are contribution being made to Sonar to support the mapping of JSP. Enhancement to the IntelliJ plugin are also planned.

[2015-11-11 10:57] #110 closed

[2015-11-12 22:20] krishna-pandey opened #128 "mvn compile failing after adding findsecbugs-plugin"
As suggested in the wiki, I added the plugin section as it is in my pom.xml. Now I am getting below error:

[code]
Please let me know what broke this configuration.

[2015-11-12 22:43] krishna-pandey commented on #128
Changing
[code]
to
[code]
fixed this warning.

[2015-11-12 23:01] h3xstream commented on #128
If you change your settings.xml to [maven central](http://repo1.maven.org/maven2/com/) (default repository) or [OSS Sonatype](https://oss.sonatype.org/content/repositories/releases/), you won't get the same error because file listing is allow.

`<version>LATEST</version>` is not recommended in the Maven world. But in the context of FSB, it's the only way to received auto-update.

[2015-11-12 23:08] krishna-pandey commented on #128
Now I am getting different error due to attempted transformation of the findsecbugs-plugin jar file. Any working snippet for integration of findsecbugs plugin to Maven world.
[code]

[2015-11-13 05:46] ThrawnCA commented on #128
That error is not related to FindSecBugs; it's coming from the XML Maven Plugin. You're trying to do an XML transformation on the findsecbugs JAR file?! I think you need to check the includes on the XML plugin transform.

[2015-11-15 20:53] krishna-pandey commented on #128
Intention was to generate HTML reports, which is working fine without security bugs plugin. Somehow findsecbugs plugin is landing up in the xml output directory, from where the maven is trying transformation. I am able to see the security bugs using "mvn findbugs:gui" after removing the transformation configs. Will try to get it working. Closing the issue for now.

[2015-11-15 20:53] #128 closed

[2015-11-20 01:13] h3xstream commented on #100
Here is a preview of the first version.

[code]

[2015-11-20 02:48] #100 closed

[2015-11-20 03:36] h3xstream commented on #118
The issue is not complete enough to allow any investigation.

[2015-11-20 03:36] #118 closed

[2015-11-25 02:00] ThrawnCA commented on #100
I'm not clear on the answer to @formanek ; what is the advantage over ``findbugs:gui``?

[2015-11-25 03:39] h3xstream commented on #100
It is the same thing. The idea is just to provide an all-in-one package.
It is the same as doing `java -jar findbugs.jar -pluginList findsecbugs.jar MyApp.jar`.

The tool I'm referring in the original description is actually something different from what was finally release.

[2015-11-25 21:46] h3xstream opened #129 "New Rule : XSS detector using the taint detector approach"
The current implementation of the XSS detector is focusing on a small set of obvious XSS.

The taint detector could easily be use by flagging write/print method as sink for XSS.

[2015-11-25 22:40] h3xstream opened #130 "New Rule : EL Expression Injection"
Simple as adding a new detector that flagged `createValueExpression` and other variations..

[code]
Ref:
http://blog.mindedsecurity.com/2015/11/reliable-os-shell-with-el-expression.html

[2015-11-27 01:53] h3xstream opened #131 "Fix description for multiples for JSP_INCLUDE, JSP_SPRING_EVAL and JSP_JSTL_OUT"
For archive purpose, few messages were fixed. The code section were not properly escape causing the code to be hidden in description.

https://github.com/h3xstream/find-sec-bugs/commit/41023bcecf62ddce53c0224abfd413846ea778ad#diff-51bfc0f20aea4df9c225c202154a05c9L2110

[2015-11-27 01:53] #131 closed

[2015-11-27 03:39] h3xstream commented on #108
Consider fixed : https://github.com/formanek/find-sec-bugs/commit/5eb668675314bd2bd3e48f71167bb08a0fd4a941#diff-e7af01b3ebefa5f1b6ed5b5c44483905R1

[2015-11-27 03:39] #108 closed

[2015-11-27 04:50] h3xstream commented on #56
@ThrawnCA Do you have a reference or code sample of how expression look like?

[2015-11-27 04:57] ThrawnCA commented on #56
I'm no expert, but there are some samples at https://docs.jboss.org/seam/2.3.1.Final/reference/html_single/#d0e4185

It looks like JBoss expression language is an extension of standard J2EE expression language (https://docs.oracle.com/javaee/6/tutorial/doc/gjddd.html). Essentially, the expressions that we'd be concerned about use ``#{variable.method()}`` syntax (it's also possible to use ``#0 #1 #

[2015-11-27 04:58] #130 closed

[2015-11-27 05:14] h3xstream commented on #56
@ThrawnCA  Thanks

I notice at the same time that the `Interpolator` class should also be flagged. `Interpolator.instance().interpolate( (String) object, params );`
https://github.com/seam2/jboss-seam/blob/f3077fee9d04b2b3545628cd9e6b58c859feb988/jboss-seam/src/main/java/org/jboss/seam/log/LogImpl.java#L140

[2015-11-27 05:14] #56 closed

[2015-11-27 05:23] h3xstream commented on #56
Here is the first draft of the description : http://h3xstream.github.io/find-sec-bugs/bugs.htm#SEAM_LOG_INJECTION

[2015-11-28 16:19] h3xstream commented on #72
"Version 2 of PKCS #1, which makes use of [3], is not susceptible to the attack described in this paper."
I'm not sure if the vulnerability still apply to an up to date JVM.

[2015-11-28 23:31] h3xstream opened #132 "Taint analysis : Add taint parameters annotate (RequestParam, PathVariable, ..)"
Example:
[code]

Currently, J2EE api are cover (`httpRequest.getParameter("input")`). Spring endpoint could be fully supported.

[2015-11-29 00:58] h3xstream commented on #132
cc @formanek Just for the info.
There is an addition to `TaintAnalysis.java` (https://github.com/h3xstream/find-sec-bugs/commit/4a1be95c46892c84cbcdf1cea8dc83e0ce362398#diff-e925a9689d36fadc9648c6eac3b05546R27)

[2015-11-29 06:15] #129 closed

[2015-11-29 06:16] #132 closed

[2015-11-29 06:24] h3xstream opened #133 "New Rule : Trust Boundary Violation"
Identify obvious the following test cases:

[code]

[code]
Ref : https://cwe.mitre.org/data/definitions/501.html

[2015-11-29 06:29] #133 closed

[2015-11-29 08:11] #119 closed

[2015-11-29 08:35] h3xstream commented on #117
HI @jsotuyod,
Currently the broadcast rule is trigger for manual review. If your broadcast permission is properly configured `<permission android:name="my.app.PERMISSION" android:protectionLevel="signature"/>` or it is intend to be public notification, you can add the following annotation.

[code]

I will update the description of this bug instance to include this guidance.

[2015-11-30 23:03] mmoayyed opened #134 "Running plugin via Gradle"
Are there examples to show how this library can be used via Gradle's findbugs plugin?

[2015-11-30 23:17] h3xstream commented on #134
Not yet.
I could not found the support for plugins configuration.

Please open a question/feature request on the gradle forum :
https://discuss.gradle.org/ ([Official issue tracker](http://gradle.org/development/))

[2015-12-01 01:16] mmoayyed commented on #134
For some reason I am unable to actually create an issue, but I will post to the forums.

[2015-12-01 01:21] mmoayyed commented on #134
https://discuss.gradle.org/t/findbugs-plugin-using-custom-libraries/13002

[2015-12-01 16:24] h3xstream commented on #134
Thanks I will follow closely this thread. I will probably be the most common use case in Continuous Integration for Android projects.

[2015-12-03 02:35] h3xstream commented on #119
Preview : http://h3xstream.github.io/find-sec-bugs/bugs.htm#WEAK_MESSAGE_DIGEST_SHA1

[2015-12-03 02:38] #126 closed

[2015-12-05 06:34] krishna-pandey commented on #134
I am able to integrate findsecbugs with Gradle. Please see the configuration below:

subprojects {
  apply plugin: 'java'
  apply plugin: 'findbugs'
  apply plugin: 'eclipse'
  apply plugin: 'maven'
  apply plugin: 'signing'

  sourceCompatibility = 1.7

  dependencies {
    findbugs 'com.google.code.findbugs:findbugs:3.0.0'
    findbugs configurations.findbugsPlugins.dependencies

    // Here we

[2015-12-07 16:47] krishna-pandey commented on #134
@mmoayyed Can you please test the above configuration, if it's working for you.

[2015-12-07 16:53] mmoayyed commented on #134
Sure. Stay tuned please.

[2015-12-10 06:10] mmoayyed commented on #134
I have the following defined:

[code]

and:

[code]

Rules are very simple:

[code]

The only difference is I have a `visitors = ["FindSqlInjection", "SwitchFallthrough"]`. Should I take that out?

[2015-12-10 06:13] mmoayyed commented on #134
I attempted to add the following to a class to test:

[code]

I was expecting this to be tagged as a security issue, but I get no errors back.

[2015-12-11 05:00] h3xstream opened #138 "More XXE coverage"
Some XXE parser to look for..

Built-in:
- [x] [TransformerFactory](https://github.com/find-sec-bugs/find-sec-bugs/blob/d4a0e0763d9cee71613b0fe4f00fa687a1084272/plugin/src/main/java/com/h3xstream/findsecbugs/xml/TransformerFactoryDetector.java) Added by @MaxNad
- [x] XMLReader
- [x] [XMLStreamReader/XMLInputFactory](https://github.com/find-sec-bugs/find-sec-bugs/blob/34e55f862ad7ba4cfc06a0f8b53bac

[2015-12-11 05:06] h3xstream opened #139 "SAXParser : Entity Resolver returning null"
I red from [FileCry - The New Age of XXE
](https://www.blackhat.com/docs/us-15/materials/us-15-Wang-FileCry-The-New-Age-Of-XXE.pdf) that entity resolver are equivalent to having none set..

To investigate..

[2015-12-11 14:34] davewichers opened #140 "Need to be able to build find-sec-bugs myself"
I am aware of: https://github.com/find-sec-bugs/find-sec-bugs/wiki/Compiling, and that Travis-CI is used to build the project (https://travis-ci.org/find-sec-bugs/find-sec-bugs/builds). However, I'd like to be able to build it myself.

Normally, all you have to do is a git clone, and then run: "mvn clean install" to build something. But when I do that for find-sec-bugs I get the following errors.

[2015-12-11 15:45] arthepsy commented on #140
You need to use JDK8 (not JDK7) to compile find-sec-bugs.

[2015-12-11 15:53] h3xstream commented on #140
@arthepsy is right.
The plugin is compile with Java 6 compatibility to support FindBugs 2 and legacy project. This might change soon or later.
The test classes however include samples with Java 8 API.

[2015-12-11 16:59] #117 closed

[2015-12-11 19:15] davewichers commented on #140
Thank you. Using JDK8 helped alot, but I'm still stuck. I can now successfully run: mvn clean test-compile with no errors.

But when I run: mvn clean install

1) I get lots of warnings like:

|WARN | EasyBugReporter : Missing class javax.servlet.http.HttpServletRequestWrapper
|WARN | EasyBugReporter : Missing class javax.servlet.http.HttpServletRequest
|WARN | EasyBugReporter : Missing class testc

[2015-12-11 20:07] davewichers commented on #140
False alarm!!! I just wasn't patient enough to wait. After giving it time I eventually get this. Not sure why it would take over 8 minutes ...

If there is something I can fix to make it faster and/or fix the warnings I mentioned, I'd like that.  Thx, Dave

[INFO] Reactor Summary:
[INFO]
[INFO] Find Security Bugs root ............................ SUCCESS [  2.200 s]
[INFO] FindBugs Test Utility ..

[2015-12-11 22:31] h3xstream commented on #140
The "Missing class" warning is trigger in the test because the test samples have reference to other classes. The scan are done with specific classes being loaded. The analysis of the missing classes is not needed for the test cases.
We could theoretically add all the dependencies to the classpath to avoid those warning but that would not add much benefit.
If the warning would mention a sample clas

[2015-12-11 22:34] h3xstream commented on #140
I added the requirements section otherwise somebody will also have the same problem :
https://github.com/find-sec-bugs/find-sec-bugs/wiki/Compiling#requirements

[2015-12-11 22:34] #140 closed

[2015-12-13 22:39] agabrys opened #141 "WEAK_FILENAMEUTILS does not check context"
I have got a False-Positive for the WEAK_FILENAMEUTILS rule :

![weak_filenameutils_fp](https://cloud.githubusercontent.com/assets/10604335/11769893/4fa6b510-a1f2-11e5-94db-6223bb044b45.png)

Analysis executed by [SonarQube 5.2](http://www.sonarqube.org/) with [Findbugs 3.3](http://docs.sonarqube.org/display/PLUG/FindBugs+Plugin) plugin (used Find Security Bugs 1.4.2).

[2015-12-18 05:49] h3xstream commented on #134
@mmoayyed  Which rule are you trying to trigger?

Also, I am wondering are you using gradle for Java, Android, Scala or Groovy code project ?

[2015-12-18 05:51] h3xstream opened #143 "Create a tutorials with demo project for Gradle configuration"
Following the findings made in #134. A tutorial should be create with a demo project.

 - [ ] Android Project
 - [ ] Java Project
 - [ ] Grails Project **

** Would require a bit of research .. By default Groovy bytecode is unreadable, static compiling would need to be enable.

[2015-12-18 05:54] mmoayyed commented on #134
The rule that says "returning a mutable byte array is a security issue". I used to get that quite often with the maven plugin.

This is all pure Java.

[2015-12-21 18:33] h3xstream opened #144 "Missing HttpOnly flag on cookie"
Secure flag is already detected.
HttpOnly is [partially implemented](https://github.com/find-sec-bugs/find-sec-bugs/blob/master/plugin/src/main/java/com/h3xstream/findsecbugs/cookie/InsecureCookieDetector.java).
The main part is adding the appropriate description with code samples..

[2015-12-21 18:45] h3xstream commented on #72
Need research
Implementation is postpone. I can't write a description if I don't understand fully the impact.

[2015-12-24 08:15] h3xstream opened #147 "(Dev internal) DSL for more intuitive method matching"
There will be small experiment that will affect a small subset of rules (mostly very basic rules)

The idea is to replace the following code :
[code]

by something like :
[code]

[2015-12-24 08:29] h3xstream opened #148 "Support alternative bytecode for setEscapeXml="false" JSP and Weblogic"
Weblogic generated code like this for constant "false" value.

[code]

To avoid unwanted False negative (missed vulnerability), if the value set is unknown, the issue should be raised with lower confidence. If the property is overriden, their is a high chance that is can be set to false.

[2015-12-24 09:08] #147 closed

[2015-12-24 09:08] #148 closed

[2015-12-24 18:32] h3xstream opened #149 "Migrate the old XSS detector to the new TaintDetector mecanism"
The detection of XSS would be much higher when switching to a "ConfiguredBasicInjectionDetector" implementation.

[2015-12-24 18:32] #149 closed

[2015-12-24 19:09] h3xstream commented on #134
A complete demo and configuration example is now available in the demos repository:
https://github.com/find-sec-bugs/find-sec-bugs-demos/tree/master/android-insecure-bank-v2

A Java project with Gradle configuration will come shortly..

[2015-12-24 19:10] h3xstream commented on #134
Please follow the issue #143 for the complete documentation efforts

[2015-12-24 19:10] #134 closed

[2015-12-24 19:57] h3xstream commented on #134
@krishna-pandey Two notes on your configuration.
 - You should be using the latest version of FindSecurityBugs for better coverage `1.4.4`
 - `reportLevel` should be at least set to medium. high include only the most critical stuff. low will include a lot informational rules.

[2015-12-25 02:08] #144 closed

[2015-12-25 05:27] h3xstream opened #150 "New Rule: Detect weak HostnameVerifier"
Surprisingly the verification of Hostname was forgotten. It is the same principle as TrustManager.

[code]

[2015-12-25 05:45] #150 closed

[2015-12-25 05:45] #34 closed

[2015-12-25 05:52] h3xstream commented on #112
@formanek I have a simple test to reproduce the problem. "com/h3xstream/findsecbugs/crypto/SslDisablerDetectorTest.java".

you can find the actual bytecode here : `find-sec-bugs/plugin/src/test/resources/bytecode_samples/ssl_disabler_scala.jar``

My current fix is available at commit 9614dfcf25f4858e80263ed24f62bbf5948be5d7

[2015-12-25 05:53] #112 closed

[2015-12-27 05:39] h3xstream opened #151 "New Rule : Additional coverage for predictable random generator in Scala"
See scala.util.Random and [Spire](https://github.com/non/spire) math function.

A specialize Scala description for Scala would be nice.
[SecureJava](https://github.com/non/spire/blob/master/core/shared/src/main/scala/spire/random/rng/SecureJava.scala) could be recommended if a Spire RNG is used.

[2015-12-27 08:20] h3xstream opened #152 "New Rule : Unvalidated redirect in Play Framework"
Redirect Method include Redirect(), SeeOther(), MovedPermanently(), TemporaryRedirect()

Signature:
[code]

[2015-12-27 18:59] #152 closed

[2015-12-27 18:59] #151 closed

[2015-12-31 18:39] h3xstream opened #153 "Scala Command injection"
Look for variation of the `scala.sys.process._` api.

[2016-01-04 06:59] #153 closed

[2016-01-04 06:59] #81 closed

[2016-01-05 04:24] h3xstream opened #154 "Play framework demo"
Scala rules will appears slowly in the next few releases. A demo project would be nice to have sample configuration.

[2016-01-05 04:33] h3xstream commented on #154
https://github.com/find-sec-bugs/find-sec-bugs-demos/tree/master/scala-web-play

[2016-01-05 04:33] #154 closed

[2016-01-05 17:18] h3xstream commented on #112
@jaxley The [version 1.4.5](http://search.maven.org/remotecontent?filepath=com/h3xstream/findsecbugs/findsecbugs-plugin/1.4.5/findsecbugs-plugin-1.4.5.jar) was release. Let me know in the comment if the problem still occurs.

Also, I am slowly adding some Scala specific rules. If you have ideas, you can add them here : #111 (Scala mini planning).

[2016-01-06 22:04] jaxley commented on #112
Great news!  I'll give that a try in the coming weeks.

[2016-01-07 23:02] h3xstream opened #158 "(Dev internal) Validate the configuration files automatically"
The signatures database are getting bigger and bigger. Error are very likely to happen.
- [x] Validate the sink
- [x] Validate the method summaries
- [ ] Add test cases to cover the missing classes

[2016-01-07 23:16] h3xstream commented on #158
Typo found : https://github.com/find-sec-bugs/find-sec-bugs/commit/f3a558bcc4a5e1cae2f66635acc35c3ead5a384c#diff-e53d1c84a9cfa2fb9018d977e68edc52L1

[2016-01-09 00:54] wsargent commented on #111
@h3xstream let me know if I can help with this.

[2016-01-09 03:50] h3xstream opened #159 "Release 1.4.5"
- [x] Release notes
 - [ ] Update SonarQube
 - [ ] Update Jenkins (descriptions only)
 - [ ] IntelliJ plugin
 - [ ] Update the website

[2016-01-09 18:32] aabashkin opened #160 "[Documentation] - Add Table of Contents to Bug Patterns page"
http://find-sec-bugs.github.io/bugs.htm please add a Table of Contents for easy browsing

Thanks

[2016-01-09 18:35] h3xstream commented on #160
Makes sense

[2016-01-09 18:39] aabashkin commented on #160
Perhaps we should also consider how to manage the complexity of this list in the long term. I'm sure it will keep growing.

Tags/Taxonomy of some sort?

[2016-01-10 07:24] h3xstream commented on #111
@wsargent Currently, any of the following:
 - Running FindSecBugs on large Scala projects. (testing)
 - Providing new bug pattern ideas (with code sample if possible)

[2016-01-10 19:31] aabashkin opened #161 "[Rule] - jQuery html() XSS"
Using the jQuery html() method can lead to DOM XSS

`$('#myDiv').html('<script>alert("Hi!");</script>');`

Ref: http://www.w3schools.com/jquery/html_html.asp
Ref: https://www.box.com/blog/securing-jquery-against-unintended-xss/
Ref: http://stackoverflow.com/a/15928704

[2016-01-10 19:55] dpnishant commented on #161
@aabashkin I'm not sure whether FSB has a Javascript parser.

[2016-01-10 23:56] wsargent commented on #111
@h3xstream okay, have posted to https://groups.google.com/d/topic/play-framework/hPbpqCzk53M/discussion for more projects :-)

[2016-01-11 00:22] wsargent commented on #111
@h3xstream I would also suggest checking for SecurityHeadersFilter in Play: https://www.playframework.com/documentation/2.4.x/SecurityHeaders

[2016-01-11 21:58] wsargent opened #162 "Check that Play CSRF bypass is very strict"
There is a bypass faciliity in Play for some classes of CSRF, covered in http://semisafe.com/coding/2015/08/03/play_basics_csrf_protection.html -- the page explains what attackers should not be able to do under the model, but some users may prefer something stricter.

To ensure that CSRF is always applied, check for the config setting:

[code]

You'll want to do this in a parsed Config, not a raw

[2016-01-12 04:39] Nara-Rama opened #163 "find security bugs does not scan groovy files"
In our project, we use both groovy and java classes. We are using the find-sec-bugs plugin 1.4.3 with FindBugs 3.0.1 to scan the source code.

The security bugs from groovy classes are not reported by the plugin. Java classes are properly scanned. Following link clearly says the plugin works with groovy.

https://github.com/h3xstream/find-sec-bugs

For this testing, I copied the following vulnerab

[2016-01-12 07:15] h3xstream commented on #163
Groovy by default allow redefinition of all methods and use a global call list. The detectors of Find Security Bugs are not able to predict the method calls.

It will not find anything unless API call are statically compiled. **I think is possible** to configure Gralde. I have not try it yet. http://stackoverflow.com/questions/11866901/is-there-any-global-flag-for-groovy-static-compilation

The ta

[2016-01-12 11:22] xeno6696 commented on #163
Use the command `groovyc` to compile your groovy code into a class file, then you can scan it with findbugs.  http://www.groovy-lang.org/groovyc.html

[2016-01-12 11:23] xeno6696 commented on #163
Findbugs is a bytecode scanner, not a source code scanner, so please note that you can create security flaws at runtime that can't be detected statically.

[2016-01-12 15:00] kutzi opened #164 "False positive for INSECURE_COOKIE"
If I make the cookie secure based on the secure flag of the request, find-sec-bugs complains about INSECURE_COOKIE

E.g.

  Cookie c = new Cookie(..);
  c.setSecure(req.isSecure();
}

Reasoning:
- it doesn't make sense to make the cookie secure if the request isn't
- often in development environments you work with HTTP, while on test/production you use HTTPS

[2016-01-12 18:30] wsargent opened #165 "Check for secure cookies in Play"
You want the following settings to be set to true in a secure system so that cookie information doesn't leak:

[code]

[2016-01-13 03:16] Nara-Rama commented on #163
Thanks. Our groovy files are not statically compiled. Let me try your suggestion.
________________________________
From: Philippe Arteau <notifications@github.com>
To: find-sec-bugs/find-sec-bugs <find-sec-bugs@noreply.github.com>
Cc: Nara-Rama <nara_rama@yahoo.com>
Sent: Monday, January 11, 2016 11:15 PM
Subject: Re: [find-sec-bugs] find security bugs does not scan groovy files (#163)

Groovy by

[2016-01-13 03:19] Nara-Rama commented on #163
Thanks. I tried the scanning on the compiled groovy classes. As Philips suggested, I am planning to try the scanning after statically compiling groovy classes.
________________________________
From: Matt Seil <notifications@github.com>
To: find-sec-bugs/find-sec-bugs <find-sec-bugs@noreply.github.com>
Cc: Nara-Rama <nara_rama@yahoo.com>
Sent: Tuesday, January 12, 2016 3:22 AM
Subject: Re: [find-se

[2016-01-13 22:36] h3xstream commented on #163
@xeno6696 Look at the default groovy bytecode, you will see the problem encounter by Nara-Rama. The call to the constructor `Random()` is not even in the bytecode.

[2016-01-13 22:38] h3xstream commented on #165
If it's a configuration, FindBugs does not have the capability to look at static files.

[2016-01-13 22:46] h3xstream commented on #161
@aabashkin FindBugs engine does not support the scanning of static files. I was planning to request this feature to the FindBugs team. If I do I will include a link in this ticket.

[2016-01-13 22:46] #161 closed

[2016-01-13 23:18] h3xstream commented on #161
@aabashkin Maybe some day.. I already have a static analyser in Java that could be integrate.
https://sourceforge.net/p/findbugs/feature-requests/351/

[2016-01-13 23:20] h3xstream commented on #165
The ticket will be reopen if FindBugs starts support static files that would allow the analysis of tha `application.conf``.

[2016-01-13 23:20] #165 closed

[2016-01-13 23:24] h3xstream commented on #162
This issue also depends on https://sourceforge.net/p/findbugs/feature-requests/351/

[2016-01-13 23:24] #162 closed

[2016-01-13 23:38] h3xstream commented on #164
This is a tricky one. I understand fully your use case and this code is not insecure at all.

Their is a edge case I have in mind.. If the application is deploy in front of a reverse proxy...

[code]

In the previous, we didn't bother to configure the Java container with TLS certificates. Either because it can be mess to configure or for performance reasons.
In this very specific case, the cookie

[2016-01-13 23:48] HairyFotr commented on #162
I think findbugs issues are now tracked here: https://github.com/findbugsproject/findbugs

[2016-01-13 23:50] h3xstream commented on #162
@HairyFotr Thanks ! That will save some time :)

[2016-01-13 23:54] h3xstream commented on #117
If this next feature gets implemented, this feature request will be reopen.
https://github.com/findbugsproject/findbugs/issues/77

[2016-01-13 23:55] h3xstream commented on #48
If this next feature gets implemented, this feature request will be reopen.
https://github.com/findbugsproject/findbugs/issues/77

[2016-01-14 07:13] kutzi commented on #164
Actually, my setup looks almost exactly like the 'edge case' you've described (with HaProxy instead of nginx), but with one important difference:

So haproxy sets the X-Fowarded-Proto header, so Tomcat knows that the original request is secure. I.e. requests.isSecure() returns true

[2016-01-14 07:21] kutzi commented on #164
I vote to remove the false positive as:

- in many, if not most, cases the code is secure. I.e. if configured as above
- the fact that setSecure(req.isSecure()) is called, illustrates that the programmer has already spent thoughts on the topic - which is the top thing which findbugs wants to ensure IMHO
- you should almost always err on the side of not reporting a false positive imo

[2016-01-14 21:10] h3xstream commented on #164
Considering `X-Fowarded-Proto`, this makes perfect sense to remove the issue for `setSecure(req.isSecure())`. I didn't know about this proxy header.

[2016-01-15 04:21] aabashkin commented on #161
Whenever I want to perform some quick static analysis in Java I usually look to this: https://github.com/tools4j/unix4j  . No need to learn everything all over again, it's just grep :+1:

I took a look at the ticket you filed and voiced my support

[2016-01-15 19:41] mcwww opened #167 "FindSecBugs plugin crash in Intellij"
When running new version of FindSecBugs 1.4.5 plugin in Intellij, I obtain the following error:

[code]

I am forced to use al old version of FindSecBugs in Intellij.

[2016-01-21 05:18] ThrawnCA commented on #164
It's also possible for the proxy itself to rewrite cookies as needed.

Apache example:

    Header always edit Set-Cookie ^(.*)$ $1;HttpOnly;Secure

[2016-01-21 18:05] h3xstream commented on #164
@ThrawnCA Some cookies might need to have the flag disable. The use-case mostly apply to HttpOnly not Secure.

[2016-01-21 19:29] h3xstream opened #168 "New Rule : XSLT processing detection"
Simple rule to detect XLST apis usage.

 - [x] Java Stantard API
 - [x] XSLT taglib

Example of real-life vulnerability to link:
http://www.agarri.fr/kom/archives/2013/11/27/compromising_an_unreachable_solr_server_with_cve-2013-6397/index.html

[2016-01-27 20:15] h3xstream opened #170 "False positive: ASN1InputStream identify as ObjectInputStream"
ASN1InputStream trigger false positive for Deserialization mechanism..
http://www.cs.berkeley.edu/~jonah/bc/org/bouncycastle/asn1/ASN1InputStream.html

[2016-02-11 02:00] dcsobral opened #172 "CustomInjection issues"
- [x] Clearer documentation
 - [x] Support for files and resources
 - [x] Noisy error message

## 1. Clearer documentation

This is a mix of documentation and implementation issues. On the documentation side, no mention of `com/h3xstream/findsecbugs/injection/custom/CustomInjectionSource.properties` is made, though that resource is always loaded by default.

The error message produced when it isn'

[2016-02-15 19:24] mkienenb opened #175 "Various exceptions show up after adding 2016-02-15 find-sec-bugs plugin to findbugs ant task"
I recently expanded our findbugs ant task testing to include the find-sec-bugs plugin.  I originally used the findsecbugs-plugin-1.4.4 download but I updated to today's (2016-02-15) findsecbugs-plugin-1.4.6-SNAPSHOT build to insure that I had the latest changes.

In both cases, a number of exceptions were thrown.  None of these errors occur without the find-sec-bugs plugin.   Following are some re

[2016-02-15 19:25] mkienenb commented on #175
I was unable to attach the error file to the initial report -- adding it here.

[find-sec-bugs-errors.txt](https://github.com/find-sec-bugs/find-sec-bugs/files/131321/find-sec-bugs-errors.txt)

[2016-02-16 16:45] mkienenb commented on #175
With the exception of "java.lang.String[][]", the rest of the missing types are arrays of enums.

Maybe this has something to do with the root cause of all of these problems?

[2016-02-16 17:10] mkienenb commented on #175
While the report claims that the missing types are arrays of enums, when I isolated a specific example and investigated, there was no array of this type used.   However, the "missing classes" problem does appear to be triggered by the existence of enums.   When I rewrote the class to use static final ints instead of enums, the missing classes warning went away.   However, all of the other errors r

[2016-02-16 17:26] mkienenb opened #176 "find-sec-bugs always claims "The following classes needed for analysis were missing" for enums"
While investigating issue #175, I noticed that part of the problem was that all enum types were reported as missing classes.   I eventually reduced one specific class down to this simple example and was still able to reproduce the error using a snapshot built from 2016-02-15.
[code]

Generates:
[code]

[2016-02-16 17:49] mkienenb commented on #175
After reading https://github.com/find-sec-bugs/find-sec-bugs/issues/19#issuecomment-68827294 I refactored my isolated test case so that the main method was broken into smaller methods.   All of the errors then went away except for the missing enum error.

So I would say that the huge list of exceptions is caused by methods having bytecode longer than 6000 bytes and that an issue similar to that wh

[2016-02-16 18:22] mkienenb commented on #175
Turns out that the java.util.ConcurrentModificationException dumps from FlexList are still around after refactoring the one large method into smaller ones.   So this must be a separate problem.  I'll rename this issue to have it specific to the bytecode-too-large problem and open a separate issue for the java.util.ConcurrentModificationException stituation.

[2016-02-16 18:30] mkienenb opened #177 "AbstractInjectionDetector.checkTaintSink() modifies Set<TaintSink> while iterating over it"
Looks like the Set<TaintSink> being iterated over in AbstractInjectionDetector.checkTaintSink() is being modified.   I can see that delayBugToReport() is one place that additional TaintSinks are added to such a Set.  It's unclear to me if there are other places where the set might be modified.

It's also unclear to me whether it is important for the code in the loop to be notified of changes to th

[2016-02-16 19:26] mkienenb commented on #177
I can't recommend this as a fix for the reasons stated above, but here is a temporary workaround I am using:

diff --git a/plugin/src/main/java/com/h3xstream/findsecbugs/injection/AbstractInjectionDetector.java b/plugin/src/main/java/com/h3xstream/findsecbugs/injection/AbstractInjection
Detector.java
index c727d6d..d21c9a3 100644
--- a/plugin/src/main/java/com/h3xstream/findsecbugs/injection/Abstr

[2016-02-16 22:50] formanek commented on #177
@mkienenb Thank you for reporting. I rewritten this part recently (it is waiting for merge) and the new code shouldn't modify collections during iteration. You can test [my fork](https://github.com/formanek/find-sec-bugs).

[2016-02-17 03:51] anantshri opened #179 "Standalone execution"
Consider this as a feature request if its not already possible.

Is it possible to run the plugin directly from commandline without integrating with other systems such as jenkins etc.

[2016-02-17 03:59] dpnishant commented on #179
@anantshri Jenkins too runs a command as you would run  it on a shell. You can use `mvn findbugs:findbugs` to run the plugin. However do keep in mind that can only run on compiled binaries and not on raw `.java` or `.jsp` sources.

[2016-02-17 23:51] h3xstream commented on #179
@dpnishant is right.

@anantshri What is your build system?
We have put example of configuration for Gradle, Maven and SBT here: https://github.com/find-sec-bugs/find-sec-bugs-demos
The respective plugin can be trigger without CI.

Alternatively, their is a recent experiment .. A CLI client that analyze JAR and classes folder.
https://github.com/find-sec-bugs/find-sec-bugs/wiki/CLI-Tutorial

[2016-02-17 23:52] h3xstream opened #180 "Fixing the build"
The build is currently failing .. It is under investigation..
https://travis-ci.org/find-sec-bugs/find-sec-bugs/builds/110002111

[2016-02-18 00:12] h3xstream commented on #180
Hum.. everything is compiling on my machine. Maybe I'm doing something different..
[code]

[2016-02-18 15:30] jfeenstra opened #181 "No plugin support for findbugs4sbt"
We want to use 'Find Security Bugs' in our SBT project (Scala with Play). Currently there seems to be no support for adding plugins to findbugs (like for Gradle: https://github.com/find-sec-bugs/find-sec-bugs/wiki/Gradle-configuration).

We're using
plugins.sbt: ("de.johoop" % "findbugs4sbt" % "1.4.0")
build.sbt: import de.johoop.findbugs4sbt.FindBugs._

Will findbugs4sbt add pluginsupport or supp

[2016-02-18 16:05] mkienenb commented on #179
@anantshri  Even though it is not currently well-documented, the command-line findbugs tool accepts the -pluginList argument, which you can point to the find-sec-bugs plugin.

[2016-02-18 16:09] anantshri commented on #179
@dpnishant and @mkienenb thanks for the pointers folks. that should solve my problem.

@h3xstream This is for integrating find-sec-bugs into androidtamer distribution where primarily people will be doing a blackbox review of application and since no CI so needed a CLI way of getting by with the system.

I suppose the answers are adequate and i have ways to achieve this now hence closing the issue.

[2016-02-18 16:09] #179 closed

[2016-02-18 16:18] mkienenb commented on #181
@jfeenstra  You'd need to ask that question at the findbugs4sbt project.

I don't know SBT or Scala, but it looks like all you'd need to do is clone each part of the code referencing classpath  and rename "[Cc]lasspath" to "[Pp]luginList" in the duplicated code in https://github.com/sbt/findbugs4sbt/blob/master/src/main/scala/de/johoop/findbugs4sbt/Settings.scala and other related files.   The han

[2016-02-18 23:55] formanek commented on #180
I think there is no problem in the new code (the build was failing with string change only too) and the old code is probably also fine (it never failed like this before), it looks like something changed in Travis and I hope we can fix it by modifying `.travis.yml` file. VM can crash because of insufficient memory, maybe setting memory by adding JVM arguments like `-Xmx` could help, [somebody used]

[2016-02-19 19:08] h3xstream commented on #180
Ok it should be fixed in 6e3e4a9861054b5d6e3b2194c9eaeb8208a252ac
https://travis-ci.org/find-sec-bugs/find-sec-bugs/builds/110455839

@formanek Thanks for the hint

[2016-02-19 19:08] #180 closed

[2016-02-19 19:13] h3xstream commented on #181
@mkienenb is right.

You can follow the issue here : https://github.com/sbt/findbugs4sbt/issues/3
If you have an example with a workaround, let me know. I will documented it in the demos repository.

[2016-02-19 19:35] mkienenb commented on #176
Verified that this was fixed by pull request #173

[2016-02-19 19:35] #176 closed

[2016-02-19 19:35] mkienenb commented on #177
Verified that this was fixed by pull request #173

[2016-02-19 19:35] #177 closed

[2016-02-19 20:21] h3xstream commented on #176
@mkienenb  Thanks for the precision

[2016-02-19 20:21] #181 closed

[2016-02-22 06:08] jfeenstra commented on #181
Thanks for your response. I will take a look to it and update when we found a solution.

[2016-03-01 14:25] jqno commented on #172
I second this issue, and would like to add that the documentation at http://find-sec-bugs.github.io/bugs.htm#CUSTOM_INJECTION for the configuration itself, is a bit confusing, mainly because both examples don't seem to match. The first example is about `SqlUtil.execQuery`; the second seems to be about a method called `MySqlWrapper.executeQuery`.

In other words, I'm not sure what I specifically ne

[2016-03-01 14:53] formanek commented on #172
Besides improving documentation, I think we could start using the new format (which injection detectors use in `injection-sinks` configuration) for custom injections too. It is simpler and you don't need to know, what invoke instruction is used.

@jqno Using `INVOKEVIRTUAL`  or something else depends on whether the method is static, is from interface, is it constructor etc., you can also look into

[2016-03-01 14:55] jqno commented on #172
@formanek Reading all that, I agree with your suggestion to switch to the simpler format ;).

[2016-03-01 21:31] dcsobral commented on #172
Index is counted from the *last* parameter? And doubles and long count
twice? Well, that would have been useful information...

On 1 March 2016 at 07:53, formanek <notifications@github.com> wrote:

--
Daniel C. Sobral

I travel to the future all the time.

[2016-03-02 00:03] h3xstream commented on #172
@jqno @dcsobral  https://github.com/find-sec-bugs/find-sec-bugs/wiki/Injection-detection

@formanek Don't hesitate to change the format to the readable order.

[2016-03-16 14:53] jborgland opened #182 "INSECURE_COOKIE detector can be fooled by creating two or more cookies"
The detector seems to be mixing up information from all cookies created in one method. Example below

This generates two instances of INSECURE_COOKIE (for both c1 and c2):
[code]

While this generates no instance at all (_although one would be expected, for c1_):
[code]

[2016-03-16 15:35] h3xstream commented on #182
Thanks for the report. It is was a known limitation. Minimal effort was put to avoid FP/TN for this rule.

But it the missed cases are not esoteric at all, so I'll put some effort to fix this. (I don't know when)

[2016-03-29 19:02] mcandre opened #183 "Gradle plugin for easier integration"
Could we publish a plugin to make it easy for gradle projects to add find-sec-bugs to their FindBugs setup?

[2016-03-29 19:03] mcandre commented on #143
+1

[2016-03-29 19:56] h3xstream commented on #183
I think that adding option to the existing Gradle plugin (findbugs-plugin) would be the best option.
Creating an additional plugin for Gradle would mean extra maintenance work.

Currently, the creation of a task that include FindBugs is the "recommended" configuration.
But I agree the configuration could be smaller for a quite common task

[2016-03-30 16:10] 0xquad opened #184 "java.util.ConcurrentModificationException during analysis"
Multiple `ConcurrentModificationException` errors occurred during the analysis of 6 jar files. Snippet below, more complete trace in attached text file. Reported after the analysis, which was completed nonetheless. Might or might not be related to FindSecBugs per se. I can submit the full error report privately if needed. This was a one-time scan, haven't tried to reproduce it.

[code]

[multiple-

[2016-03-30 19:27] h3xstream commented on #184
It is seems to be related to : #175

[2016-03-31 01:34] mcandre commented on #183
+1

[2016-04-21 19:46] kknd22 opened #186 "find-sec-bugs in sonar to scan scala bytecode"
since findbug is using bytecode to do the scan, it should be able to scan the scala bytecode. Anyone know how to configure it in sonar to scan scala bytecode? Thanks

[2016-04-22 14:53] h3xstream commented on #186
It's on my personal roadmap. I am hoping to get this integration by the end of the year.

[2016-04-22 15:14] xeno6696 commented on #186
Question:  Scala runs on the JVM right?  Isn't it all bytecode?

On Fri, Apr 22, 2016 at 9:53 AM Philippe Arteau <notifications@github.com>
wrote:

[2016-04-22 15:30] kknd22 commented on #186
correct and correct. The problem is that it dose not show the security issue at all  (used the same problematic java code in a scala file)

[2016-04-22 15:32] kknd22 commented on #186
@h3xstream thanks for the comment - for now, does it detect any scala generated byte code which have the same issue as java counter part at all?
-cl

[2016-04-22 16:35] kknd22 commented on #186
I have created a gradle project to figure out what find-sec-bugs can handle scala bytecode.

https://github.com/kknd22/sonar-gradle-mixed-multiple-project/tree/find-sec-bug-test

(notice the it is not on the master, but on the "find-sec-bug-test" branch )
./gradlew findSecurityBug
then check the findbug report under the build.
So far the results are: for java source, find-sec-bug does the job, for

[2016-04-22 18:11] kknd22 commented on #186
By change reportLevel = "low" in the scala project, I was able to see the violation in the report.
So the gradle build is cool. So the sole question is on sonar now, which missed all scala problems

[2016-05-09 22:04] h3xstream commented on #167
It seems to be fixed in the current version.
I am not able to reproduce with 1.4.6-SNAPSHOT.

I will notify you when the plugin gets release.

[2016-05-09 22:04] #167 closed

[2016-05-11 16:35] h3xstream opened #189 "Detect deserialization gadgets"
There is already a detector for unsafe deserialization. A complimentary detector could be had to find  deserialization gadget.

Gadget are serializable classes that can be used to exploit unsafe deserialization.

 - https://foxglovesecurity.com/2015/11/06/what-do-weblogic-websphere-jboss-jenkins-opennms-and-your-application-have-in-common-this-vulnerability/
 - http://frohoff.github.io/appseccali-

[2016-05-11 16:52] h3xstream commented on #189
Implemented and tested (developed more than a month ago)

I blindly accepted some of the auto-merge when integrating.

[2016-05-11 17:48] #168 closed

[2016-05-11 17:48] #189 closed

[2016-05-25 09:44] rebse opened #191 "XML parsing vulnerable to XXE (XMLReader) shortage"
Despite having the Find Bugs rules :

Security - XML Parsing Vulnerable to XXE (DocumentBuilder)
Security - XML Parsing Vulnerable to XXE (SAXParser)
Security - XML Parsing Vulnerable to XXE (XMLReader)

activated in Sonarsource, preventing a XXE attack by unmarshalling from an XMLStreamReader that has the IS_SUPPORTING_EXTERNAL_ENTITIES and/or XMLInputFactory.SUPPORT_DTD properties
set to false i

[2016-05-25 17:59] h3xstream opened #192 "Test failure : Invalid VNA after location"
JstlOutDetectorWeblogicTest is failing. It seems to be related to the bytecode structure.

[code]

[2016-05-25 18:15] formanek commented on #192
All tests are passing on my machine and even Travis CI is green for my recent pull request :)

[2016-05-25 20:04] h3xstream opened #193 "Memory leak in the tests"
I have add the memory state at the end of each test.
There seems to be a memory leak across all the tests.

It could be related to any component collecting information during the tests..

Taken from the [last build](https://s3.amazonaws.com/archive.travis-ci.org/jobs/132938762/log.txt):

At the beginning:
[code]
At the end:
[code]

[2016-05-27 22:59] h3xstream opened #194 "Make the test less verbose"
Hide the issue unrelated to Security from the output.

[2016-05-27 23:26] h3xstream commented on #193
After some memory analysis, here are few leaks.

### BCEL ConstantUtf8 instance

By default, BCEL [cache the constant string under 200 characters long](https://github.com/apache/commons-bcel/blob/07e0698ed6961ac535a8971e52d61e53f877f58e/src/main/java/org/apache/commons/bcel6/classfile/ConstantUtf8.java#L94). Its cache will not grow indefinitely but still enough that 33%+ of the memory is used by c

[2016-05-27 23:48] h3xstream commented on #193
The option reuseForks=false make the test way to long due to constant restart. :/ (It was taking 8minutes on my box.)

[2016-05-27 23:50] #194 closed

[2016-05-30 11:39] rebse commented on #191
P.S. : see also [OWASP XXE Prevention Cheat Sheet ](https://www.owasp.org/index.php/XML_External_Entity_(XXE)_Prevention_Cheat_Sheet#StAX_and_XMLInputFactory)

[2016-05-30 16:10] h3xstream commented on #191
I have added XMLStreamReader to #138

[2016-05-30 22:27] h3xstream commented on #193
One the bcel cache parameter was properly set. There is 650 mb less memory use. The tests are not noticeably longer to run.
[code]

[2016-05-30 23:04] h3xstream commented on #193
I just realize I was looking at the wrong indicator in the previous tests. (Total memory instead of memory usage) Sorry for the commit spam.

The problem seems to be solved for a moment now. e28ee28 is most likely the real fix.

[2016-05-30 23:04] #193 closed

[2016-05-30 23:10] h3xstream commented on #184
@formanek It seems that `injectionSinks` and `sinkTaints` would need to be synchronized.

[2016-05-31 18:53] h3xstream commented on #192
@formanek
It seems that the problem was cause by unsafe iteration in BadHexadecimalConversionDetector.
https://github.com/find-sec-bugs/find-sec-bugs/commit/6827e92555de301c3d02dde268fb67dff31c29c7#diff-69602855c0071701d3989ac68f5c8fbfL78

I accidentally commit that change which was unrelated to the Custom Injection detector.

[2016-05-31 18:53] #192 closed

[2016-05-31 18:58] h3xstream commented on #184
@0xquad I am not able to reproduce the specific condition but I can provide you a preliminary version.

In what context did Findbugs was run? (IntelliJ, SonarSource, Ant, Maven, etc.)
And what version was used?

Thanks

[2016-05-31 19:03] h3xstream commented on #172
Status update.

@dcsobral I numbered your requests in the original.

2. It now test the path with first file based loading and than as a resource.
3. The warning is no longer present.
1. Documentation will be refactored soon.

[2016-05-31 19:15] formanek commented on #184
@h3xstream I remember I was fixing this long time ago (after release of 1.4.5, but before this issue was actually reported). I think synchronization is not needed, the exception was thrown by fail-fast iterator during direct modification of a collection (in the same thread).

[2016-05-31 19:30] 0xquad commented on #184
Do you still need my input for further investigation, or does it mean it's already fixed? Version used was findsecbugs-plugin-1.4.4.jar

[2016-05-31 20:15] h3xstream commented on #184
@formanek Thanks. closing..

@0xquad Are you using the plugin in an IDE? / Btw. I will notify you when a new release is publish.

[2016-05-31 20:15] #184 closed

[2016-05-31 22:06] 0xquad commented on #184
Was the standalone version.

[2016-06-02 19:11] h3xstream commented on #172
ef312a87b3215d91db99d7717917482549756a01

The complete documentation will now be in the wiki : https://github.com/find-sec-bugs/find-sec-bugs/wiki/Custom-signatures

[2016-06-02 19:12] #172 closed

[2016-06-02 20:45] h3xstream opened #195 "Release version 1.4.6"
Priority:
 - [x] Deploy a new version on the Sonatype repository
 - [x] Update the website
 - [x] Package the CLI
 - [x] Publish release note

Others upstream projects to update
 - [x] Jenkins https://github.com/jenkinsci/findbugs-plugin/pull/11
 - [x] SonarSource
 - [x] IntelliJ https://github.com/andrepdo/findbugs-idea/pull/156
 - [x] OWASP Benchmark

[2016-06-15 14:58] h3xstream commented on #175
@mkienenb : Can you test with the latest version release? https://github.com/find-sec-bugs/find-sec-bugs/releases/tag/version-1.4.6

I was able to scan my entire local Maven repository in one scan in one single scan. This is one of my rare indicator that it should be stable.
It is really hard to reproduce without a sample (.java or .class).

[2016-06-15 15:03] h3xstream commented on #159
These tasks have been postponed #195.
It turns out the problem with the IntelliJ plugin face in January was not related to FSB.

1.4.5 was a hidden release that only benifit the Maven users as it was not publicly display on the website for download.

[2016-06-15 15:03] #159 closed

[2016-06-17 10:47] mweiden opened #196 "Difficulty with new custom injection sinks"
I'm having problems migrating to the new custom injection sinks. Using the documentation I have `findbugs` configured with:

[code]

The previous version, using `CustomInjectionSource.properties` and the appropriate format of the above rules, returns custom injection warnings, this new version does not.

Have I misconfigured something?

[2016-06-17 10:49] #196 closed

[2016-06-17 10:50] mweiden commented on #196
Found the issue on my side.

[2016-06-17 15:06] h3xstream commented on #196
Looking at the method signatures .. we could add those to the next version of FindSecBugs (built-in).

[2016-06-20 15:27] mkienenb commented on #175
Sure, I'll give the latest version a try when I get a chance and report back.   If it's still bad, I'll see what I can do to provide you with a sample.

[2016-06-28 15:07] fredxc opened #197 "not to report null-porter dereference if there is code already throws RuntimeError"
I am trying the maven plugin for a scala project with Maven plugin, here is the version:
        <dependency>
            <groupId>com.h3xstream.findsecbugs</groupId>
            <artifactId>findsecbugs-plugin</artifactId>
            <version>1.4.6</version>
        </dependency>
        <dependency>
            <groupId>org.codehaus.mojo</groupId>
            <artifactId>findbugs-maven-plugin</a

[2016-06-28 15:44] h3xstream commented on #197
Please provide a code sample.
I would also need a reference to the Bug being trigged.

It look like you are refering to a FindBugs rule (bug instance) not FindSecBugs (Security only bugs).

[2016-06-28 16:23] h3xstream opened #198 "Unexpected deserialization with RestEasy/Jersey"
Detect the following annotations:

Explicitly accepting Java serialize object (potential RCE..)
- `@Consumes({"application/x-java-serialized-object"})`

Or the implicit:
- No `@Consumes` annotation
- `@Consumes({"*/*"})`
- `@Consumes({MediaType.WILDCARD_TYPE})`

https://0ang3el.blogspot.ca/2016/06/note-about-security-of-resteasy-services.html

[2016-06-28 18:14] fredxc commented on #197
You are right, this indeed is a rule from FindBugs general bugs. Run with intellij plugin 1.0.0 (I understand it may not be same as the maven plugin), I get this rule reference:

Problem classification:
Correctness (Null pointer dereference)
NP_ALWAYS_NULL (Null pointer dereference)
Notes:
Dereferenced at KRCRDecommissionReportDomainGenerator.scala:[line 43]
FindNullDeref (NP|RCN)

[2016-06-28 18:14] #197 closed

[2016-06-28 19:58] fredxc opened #199 "Out of bounds mutables in static myclass$.<clinit>()V"
Thanks for the contribution, I am trying it with a couple of scala codes using FindSecBug Intellij plugin 1.0.0. An Assertion error is reported in back trace.

[code]

[2016-06-28 21:53] h3xstream opened #200 "Detect subclasses of JavaFileObject, SimpleJavaFileObject"
Detect subclasses of JavaFileObject which aload the dynamic evaluation of Java code.

http://www.beyondlinux.com/2011/07/20/3-steps-to-dynamically-compile-instantiate-and-run-a-java-class/

[2016-06-28 21:56] h3xstream commented on #199
This seems to be an identical error to #112

[2016-06-28 23:15] h3xstream commented on #163
I did a test with the [Gradle configuration for the Groovy Compiler](https://docs.gradle.org/current/dsl/org.gradle.api.tasks.compile.GroovyCompileOptions.html#org.gradle.api.tasks.compile.GroovyCompileOptions:configurationScript).

Tutorial :
https://github.com/find-sec-bugs/find-sec-bugs-demos/tree/master/groovy-simple

[2016-06-28 23:17] h3xstream commented on #163
@Nara-Rama @xeno6696 I am not the Groovy specialist here. :smile: So let me know, if the configuration could be apply to large scale web applications.

[2016-06-28 23:19] h3xstream commented on #183
I am labeling this issue as won't fix because, I don't plan to extend the Gradle plugin at this point.

[2016-06-28 23:19] #183 closed

[2016-06-28 23:31] h3xstream commented on #186
@kknd22
The feature is officially planned in the respective Sonar-FindBugs project:
https://github.com/SonarQubeCommunity/sonar-findbugs/issues/28

[2016-06-28 23:31] #186 closed

[2016-06-29 15:04] topolik commented on #183
Some notes, if you find it useful :)

For me FindBugs gradle task works find with the `findbugsPlugins` dependency to findsecbugs-plugin (the gradle build file: https://github.com/topolik/liferay-portal/commit/0c9b1f5560941a718028babbc5d0c7ae5871f2e3)

However, there is one big drawback - FindBugs gradle task creates a new JVM process but doesn't transfer system properties. This is a big deal for

[2016-06-29 18:38] h3xstream opened #201 "New Rule: Use of setEscapeModelStrings in Wicket project"
Ref: http://stackoverflow.com/questions/1804220/how-to-display-html-text-within-a-wicket-element

[2016-07-11 21:22] arthepsy commented on #195
FYI, `findsecbugs.sh` in cli package contains invalid reference to plugin version 1.4.5 not 1.4.6.

[2016-07-11 21:42] h3xstream commented on #195
@arthepsy Ouch. Thanks

Package updated.

[2016-07-12 19:54] mkienenb commented on #175
Sorry for the delay.  It took me awhile to remember what had caused the problem and then find a copy of the class as it was a quickly-thrown-together one-time-use utility app which had to be located and pulled from version control.  The problems are still occurring with the 1.4.6 release.   I modified the original class slightly to remove the one dependency it had to a non-java core class, and ver

[2016-07-14 00:33] MaxNad commented on #182
I think I found a way to correctly handle this case while trying to create the Scala version of this detector.

You can see the fix here : https://github.com/MaxNad/find-sec-bugs/tree/issue_182
I will cleanup the code a bit and see if this is good enough to create a pull request.

[2016-07-18 14:27] h3xstream opened #205 "Play framework: Content-sniffing XSS"
The PR from @MaxNad (https://github.com/find-sec-bugs/find-sec-bugs/pull/203) gave me the idea to detect risky content type that may cause Content-Sniffing XSS.

In a nutshell, for certain content-type browser will guess the actual content of the page and can render HTML or other document that may execute scripts. This is to compensate on certain miss-configuration of servers or the laziness of we

[2016-07-18 15:04] h3xstream opened #206 "Scala: XSS in Play controller"
Detect this code pattern: `Ok(taintValue).as("text/html")`

This change is implemented in #203

[2016-07-18 15:06] h3xstream opened #207 "Scala : XSS in twirl template"
Detect `@Html()` in twirl template

This was implemented in #203.

Testing need to be completed. https://github.com/find-sec-bugs/find-sec-bugs/pull/203/commits/4c720f606bc41ecaee267af5381f22a0ec7dbc48#diff-1b6d38f7d6cd2abe66baae89495cfd1dR70

[2016-07-18 15:13] h3xstream commented on #206
The PR #203 was merge.

[2016-07-18 15:13] #206 closed

[2016-07-18 22:02] #195 closed

[2016-07-20 13:47] beauchef commented on #95
How can we get around this problem? I take the parameters from the request, put them in an object, and base64 the JSON into the state to an OAuth provider. So my actual redirection is to an OAuth provider. But findsecbugs raises this error. Which does not make sense. What can I do to get around this?

[2016-07-20 14:46] h3xstream opened #209 "Identify weak XML parser properties that could lead to XXE"
Taken from SonarQube mailinglist : https://groups.google.com/forum/#!topic/sonarqube/M-u9qObOWtU

[code]

should raise two issues, because the properties from XMLInputFactory are both set true, but there are
no issues created, see a good explanation on Stackoverflow

[2016-07-20 15:34] h3xstream commented on #95
@beauchef Please provide a code sample to illustrate your implementation.
Find-Sec-Bugs follow the state of variables. If an API is unknown, its return value will be threat as potential user input.
Currently, this rule need to be audit manually (mark as False positive) because, the proper implementations, as [described above](https://github.com/find-sec-bugs/find-sec-bugs/issues/95#issuecomment-14

[2016-07-20 16:03] beauchef commented on #95
@h3xstream hello Philippe. We ended up ignoring the error. I use Spring Social to create the OAuth2 URL to Google. In OAuth, you have the possibility to pass a state to the OAuth provider. I bundle all the request parameters into this state, to Google, so when Google call me back, I get my state back. But I am redirecting to Google. I don't create the redirect URL myself. So basically, my redirect

[2016-07-22 15:31] h3xstream commented on #209
Duplicate #191

[2016-07-22 15:31] #209 closed

[2016-07-25 14:51] andresferrari-despegar opened #210 "No way to "fix" a Play Unvalidated Redirect ("SECPUR")"
Currently a bug will be reported whenever a Play redirect is detected (code: **SECPUR**).

There is no way to "fix" this with code (i.e. you cannot show find-sec-bugs you are indeed validating the redirect), forcing the developer to either ignore the bug or suppress it with an annotation or via config files.

This is a problem for projects with zero-tolerance for vulnerabilities, where each report

[2016-07-25 18:16] h3xstream commented on #210
Eliminating false-positive is a big challenge for any static analysis tools. When it comes to security, there is usually a high expectation that no **true positive** (vulnerabilities) should be hidden.

There is a thread that discusses the potential known safe code pattern. (#95) Unfortunately, we do not have (and try to avoid) a signature that assumes that `validateX` should be safe by default.
H

[2016-07-25 21:54] andresferrari-despegar commented on #210
Thanks for the reply and the link to the discussion.

I'm not sure I understand what you said about configuring the method signature, though. Isn't what you said meant to configure new sinks? What I need is some way of programmatically telling find-sec-bugs "untaint this variable, it's safe, trust me!". Apparently this is done with **@SuppressFBWarnings**, but my application is written in Scala an

[2016-07-27 23:42] MaxNad opened #211 "Implement a base detector to track specific calls"
Create a base detector to track specific calls on objects.

This enhancement proposition is based on the comment in #204 and should help fix #182.

The detector should be able to detect the following :

     Cookie item = new Cookie("f", "bar");	← Save the index of this object to track calls
     item.setSecure(false);					← Call to setSecure has the wrong value (should be true)
     										← M

[2016-07-27 23:47] MaxNad commented on #211
@h3xstream :

I started working on a base detector (https://github.com/MaxNad/find-sec-bugs/tree/instance_tracking_detector)

For now, I am using the cookie use case. If you have any more or if you have some ideas for this detector, feel free to send them to me.

[2016-08-11 07:00] divinedragon opened #212 "SPRING_ENDPOINT fails the Maven Build"
Hi,

We have a REST Application and have `@RequestMapping` methods in Controllers. When we integrated this plugin alongwith Findbugs, we are getting this reported.

[code]

Now, our findbugs is attached to build lifecycle, and fails the maven build if there are any findbugs warnings. Now, I know `@RequestMapping` methods must be checked for Security, but our RestController is protected with OAuth

[2016-08-16 09:18] jqno commented on #210
I have the same problem. My code looks like this:

    class ApplicationController {
      def toIndex = Action {
        Redirect(routes.ApplicationController.index())
      }

      def index = Action {
        // ...
      }

      // A bunch more actions go here
    }

In this case, the warning is a false positive, since the user has no way to tamper with this redirect. I'd like to add `@Suppr

[2016-08-16 17:29] h3xstream commented on #212
Low confidence report include many informational notifications. These are intended for security auditor that analyse application that they are not familiar with.

From a developer perspective, only the medium and high confidence are interesting.
I would recommend the change of threshold from `<threshold>Low</threshold>` to `<threshold>Medium</threshold>`.

[2016-08-16 17:44] h3xstream opened #213 "False positive: ResourceBundle in JSP"
JSP code such as this should not trigger XSS. It can create significant noise in an application using the following pattern widely.
[code]

The implementation will be simply to whitelist [ResourceBundle.getString()](https://docs.oracle.com/javase/7/docs/api/java/util/ResourceBundle.html#getString(java.lang.String)) and create few tests with samples.

[2016-08-16 17:49] h3xstream commented on #199
@fredxc Can you confirm that this error is still occuring?

I will need a sample to reproduce and the version of the plugin you used.
note: FindBugs-IDEA does not always have the latest version of FindSecurityBugs.

[2016-08-16 19:01] h3xstream commented on #213
Other i18n API to consider in the whitelist element to add.
GetText : https://github.com/dallaslu/gettext-commons
Msg Simple : https://github.com/fge/msg-simple
Detect generic wrapper (Messages.getString()) : https://www.eclipse.org/eclipse/platform-core/documents/3.1/message_bundles.html,  http://blog.vogella.com/2013/05/03/eclipse-internationalization-part-14-current-situation-by-dirk-fauth/

[2016-08-19 14:47] michael-apptornado opened #215 "How to set findsecbugs.taint.customconfigfile through gradle?"
Hi,

I'm trying to add find-sec-bugs to our gradle build. In our (eclipse) find-sec-bugs configuration, we make use of a custom config file to fine-tune the taint analysis. For eclipse, I could make find-sec-bugs pick that custom-config file up by adding `-Dfindsecbugs.taint.customconfigfile=filelocation` to the jvm arguments.

For gradle, I get the find-sec-bugs plugin to execute fine, except tha

[2016-08-19 15:24] h3xstream commented on #215
The configuration should be possible in the next release.
Thanks to @topolik this is include in this PR #214

[2016-08-19 15:29] michael-apptornado commented on #215
That's good news. Thanks!

[2016-08-19 20:19] h3xstream opened #216 "XSS in Portlet"
Similar to the XSS in servlet and JSP detector. A detector could be made to detect the following patterns:

[code]

[code]

Ref: https://www.ibm.com/support/knowledgecenter/SSHRKX_8.0.0/dev/wpsbscfg.html

[2016-08-22 12:16] michael-apptornado commented on #215
Looking at the pull request, and in particular the new `loadFromSystem()` method, I see that the change currently tries to lookup environment variables containing period characters, like `findsecbugs.taint.customconfigfile` (https://github.com/topolik/find-sec-bugs/blob/0498c65ec4d6ad7d551e3eda3120decfa82acd41/plugin/src/main/java/com/h3xstream/findsecbugs/FindSecBugsGlobalConfig.java#L52).

I kno

[2016-09-05 13:41] topolik commented on #215
Hi @michael-apptornado, that's an interesting point! I send a new PR for that.

Locally I used this [patch for gradle 3.0](https://github.com/topolik/gradle/commit/16417600652353fbb92c9d048011124000988328), which can be another solution meanwhile

[2016-09-05 13:56] topolik commented on #215
Haha, just saw https://github.com/find-sec-bugs/find-sec-bugs/pull/217 :smile:

[2016-09-06 21:31] h3xstream commented on #215
#217 was merged

[2016-09-06 21:31] #215 closed

[2016-09-14 20:14] MaxNad opened #222 "Changes to the Taint Analisys engine for Scala classes"
Hi @formanek & @h3xstream

I was working on a Scala SQLi detector and I found a few problems with the taint analysis for Scala.
1. Scala uses some objects to represent Null values.
   For instance, the GETSTATIC scala/collection/immutable/Nil$.MODULE$ : Lscala/collection/immutable/Nil$; instruction is used to push an object representing a null list on the stack. The taint detector doesn't recogniz

[2016-09-29 13:59] luc-lynx opened #224 "FP: sending local broadcasts via LocalBroadcastManager"
Such piece of code

[code]

causes a false positive alert "Broadcast intents could be received by a malicious application", but the code actually sends local broadcast that can't be sniffed by other applications.

[2016-09-29 15:08] MaxNad commented on #224
I do think the LocalBroadcastManager is safe to use.

https://developer.android.com/reference/android/support/v4/content/LocalBroadcastManager.html
    → "You know that the data you are broadcasting won't leave your app, so don't need to worry about leaking private data."

[2016-09-29 19:03] #212 closed

[2016-10-03 20:33] h3xstream commented on #191
I have create two vulnerable samples..
 - With default value (no interaction with the factory)
 - When the support is explicitly enable.

[2016-10-03 23:12] h3xstream commented on #199
@fredxc I will close the issue assuming it is related to the race condition that was fixed (#112).

Don't hesitate to comment on this issue if your tests confirm that it is still present.

[2016-10-03 23:12] #199 closed

[2016-10-03 23:14] h3xstream commented on #224
This enhancement was fully implemented by @MaxNad.

[2016-10-03 23:14] #224 closed

[2016-10-03 23:51] h3xstream opened #226 "Reduce the number of FP related to Trust Boundary Violation"
Trust Boundary Violation is one of the most noisy rule. The main reason that stop me from eliminating most of the occurrence is that OWASP Benchmark look mostly for low risk TBV.

Two distinct TBV can be identify :

**1. Attribute name altered** : This seems to be the most dangerous case. It has some potential messing with the application internal state.
[code]
**2. Attribute value alter** : This

[2016-10-03 23:54] h3xstream commented on #226
Changeset:

ae46a6fa29e13cc76131bfd1a487dc64068a0316
09485eb8cc2978fce4cf61fcf7f07539c87ec954

[2016-10-03 23:55] #226 closed

[2016-10-03 23:55] #216 closed

[2016-10-04 05:35] h3xstream commented on #207
The sink `play/twirl/api/Html$.apply(Ljava/lang/String;)Lplay/twirl/api/Html;:0` is working properly.

It is just that the testing utility does not map Twirl template to class name and template line to intermediary line no (Java).
[code]

[2016-10-04 05:40] h3xstream commented on #213
Other i18n API are not yet cover just Java API.

[2016-10-04 05:40] #213 closed

[2016-10-04 05:41] #207 closed

[2016-10-04 12:32] luc-lynx commented on #224
Thanks!

[2016-10-04 20:38] h3xstream commented on #191
This detector will be available in the next release..

[2016-10-04 20:38] #191 closed

[2016-10-05 04:16] h3xstream opened #227 "Detect template usage (template injection)"
Detect powerful template engine usage that could lead to template injection:
 - Velocity
 - Freemarker

This ticket is not focusing on XSS but actual RCE when template can be edited.

Source: http://blog.portswigger.net/2015/08/server-side-template-injection.html

[2016-10-05 04:27] h3xstream opened #228 "Malicious deserialization from LDAP entry"
When loading LDAP entry, enabling the automatic deserialisation is a risky behavior,

[code]

If the LDAP address can be change or if some entries can be poison by an attacker, RCE could be trigger from the deserialization.

https://github.com/spring-projects/spring-security/blob/ce20cfcb9803a6175f6befc9008cadcc4e3b6d72/ldap/src/main/java/org/springframework/security/ldap/SpringSecurityLdapTemplat

[2016-10-05 04:34] #227 closed

[2016-10-05 23:03] h3xstream commented on #228
Also look for `searchControls.setReturningObjFlag(true)`

[2016-10-06 04:16] h3xstream opened #229 "Fix mix-content on micro-website"
Fix mix content when visiting static site from https://find-sec-bugs.github.io/

[2016-10-06 04:44] #229 closed

[2016-10-06 18:57] h3xstream opened #230 "Freemarker description fix"
Fix description for Freemarker add in #227

[2016-10-06 19:20] #230 closed

[2016-10-07 19:27] h3xstream opened #231 "Detect hardcoded password in unknown API"
API to configure a password can probably be found by doing basic matching at method names.

`ConstantPasswordDetector` already does analyse case of hard-coded cryptographic key that will look like

[code]
#

This detector could find generic setter such as `MyAPI.setPassword("abc1234")`.

The taint analysis could be use in reverse mode to raise an issue when the value is constant only.

[2016-10-11 14:39] h3xstream opened #232 "Force encoding to UTF-8 on windows when generating micro-website"
The generation of the static website need to be in UTF-8 because the description imported from `messages.xml` and `messages_ja.xml`.

Generating it from IDE usually force the encoding but using the groovy script from CLI was using encoding ISO-8859-1.

[2016-10-11 14:40] #232 closed

[2016-10-24 13:11] javixeneize opened #233 "sonar integration"
Hi

How should this be integrated with Sonar? I have already findbugs plugin (http://docs.sonarqube.org/display/SONARQUBE45/FindBugs+Plugin)

Thanks

[2016-10-24 22:19] h3xstream commented on #233
Update to the latest version of the FindBugs Plugin. It comes with FindBugs core rules **and** FindSecurityBugs rules.
You can pick and choose the rules that you need to verify but, most enterprise will use the predefined profiles (FindBugs Security Minimal or FindBugs Security Audit).

If you are a developper that want to be alert on critical alert only, choose FindBugs Security Minimal.
If you a

[2016-10-24 22:22] h3xstream commented on #231
TODO: Check for potential duplicate or overlapping with the method signatures used by `ConstantPasswordDetector `.

[2016-10-25 18:24] xeno6696 commented on #233
The Sonar plugin is already distributed with "find security bugs." That
said, releases are usually way behind.  The only way to make sure "find
security bugs" is updated for sonar, is to clone the sonar findbugs source
and manually compile that project with a more recent instance of "find
security bugs."

On Mon, Oct 24, 2016, 06:11 javixeneize <notifications@github.com> wrote:

[2016-10-26 01:54] #233 closed

[2016-10-26 01:58] h3xstream commented on #233
@xeno6696 I will try to prepare the master branch of sonar-findbugs with "bleed edge" versions. This way power user like you will be able to build and test the latest update.

[2016-10-26 15:44] javixeneize commented on #233
Sounds good!

I have installed the latest version, and it doesnt seem to work properly
with SonarQube 6.1. I have an error stating that 0 files have been indexed.
Any idea about why could it be happening?

Properties files is as follows:

# Required metadata
sonar.projectKey=java-findbugs
sonar.projectName=Java :: findbugs
sonar.projectVersion=1

# Comma-separated paths to directories with sources

[2016-11-01 16:55] javixeneize opened #235 "findbugs not working with Sonarqube 6.1"
Hi

I have installed the latest version, and it doesnt seem to work properly with SonarQube 6.1. I have an error stating that 0 files have been indexed. Any idea about why could it be happening?

 Properties files is as follows:
[code]

[2016-11-01 20:10] h3xstream commented on #235
It could be related to this : https://github.com/SonarQubeCommunity/sonar-findbugs/issues/51

But please create an issue in https://github.com/SonarQubeCommunity/sonar-findbugs.

[2016-11-01 20:10] #235 closed

[2016-11-07 06:23] karthikborkar opened #236 "Find Security Bugs Status"
Recent i came across this mail thread :https://mailman.cs.umd.edu/pipermail/findbugs-discuss/2016-November/004321.html

Which states active development on the FindBugs project has been stopped. How is this going to affect Find Security Bugs plugin ?

Thanks

[2016-11-07 16:47] h3xstream commented on #236
Basically, the development was stuck because the admin left without ever delegating management.  **A fork will take its place by the end of the year.**

I will not make any announcement until the new project prove to be a long term avenue. The compatibility with FindBugs will be kept for a long time as the API will not be change. Under the hood, "FindBugs" will change a lot.

This is the fork that

[2016-11-10 07:44] linger118927 opened #237 "How to integrate in Jenkins"
hello
 thank you for your find sec bugs，but i have a question
How to integrate in Jenkins，the jenkins only have FindBugs Plug-in and not find sec bugs
really thanks

[2016-11-10 14:33] h3xstream commented on #237
- https://github.com/find-sec-bugs/find-sec-bugs/wiki/Jenkins-Tutorial
- https://github.com/find-sec-bugs/find-sec-bugs/wiki/Gradle-configuration#2-integration-procedure-of-findbugs-in-jenkins

[2016-11-10 14:33] #237 closed

[2016-11-10 14:33] #236 closed

[2016-11-10 14:36] h3xstream commented on #231
Because the logic is slightly different and their is only [a single api that would also be triggered](https://github.com/find-sec-bugs/find-sec-bugs/blob/master/plugin/src/main/resources/password-methods/password-methods-all.txt#L10) by the new detector, the api will not be removed from `password-methods-all.txt`.

API that could generate duplicate issue:
`javax/security/auth/callback/PasswordCall

[2016-11-10 14:36] #231 closed

[2016-11-17 21:56] mcwww commented on #138
DOMParser must be added to this list as well, it's not detected at the moment by FindSecurityBugs

[2016-11-21 22:17] sdspbores opened #238 "Turbine SQL Injection"
We use Apache Turbine which unfortunately allows the direct execution of SQL.

I was surprised that the following was not flagged by the plugin. Possibly I have the wrong expectations. Does the plugin detect string concatenation in the context of a likely SQL query?

[code]

[2016-11-28 22:48] h3xstream commented on #238
API to look for :
https://turbine.apache.org/turbine/turbine-2.1/apidocs/org/apache/turbine/om/peer/BasePeer.html

 - `BasePeer.executeQuery(***)`
 - `BasePeer.executeStatement(***)`

[2016-12-08 13:46] OskarKjellin opened #240 "CRLF injection CWE-117 does not detect request body parameters for jax-rs applications"
Consider this code:

[code]

This is still vulnerable to CRLF injection, but is not detected.

[2016-12-08 16:47] h3xstream commented on #240
Pardon my lack of knowledge about logging API.

Is this Slf4j, logging, log4j or any other apis ?
If it is Slf4j, is it the behavior of a specific implementation (ie: logback) ?

I would be more tempt to report this as an issue to logback to enable auto-escaping of new line and other special characters..

[2016-12-08 17:27] OskarKjellin commented on #240
I'm referring to the already existing feature that flags this:

[code]

But this is kind of a false positive because you cannot inject (as far as I've been able to find out) CRLF in path params. But you can easily in the body inject stuff as the example I posted first.

I'm referring to this feature #123 #125 #171 https://github.com/find-sec-bugs/find-sec-bugs/blob/master/plugin/src/main/java/com/

[2016-12-08 21:39] h3xstream opened #241 "Path traversal : Support Java 7 API"
As mentions by Bob Rivers,  Java 7 as two apis that also allow the normalization of paths.
See:  http://stackoverflow.com/a/40427311/89769

 - https://docs.oracle.com/javase/7/docs/api/java/io/File.html#getName()
[code]
 - https://docs.oracle.com/javase/7/docs/api/java/nio/file/Path.html#getFileName()
[code]
This will not be an easy one to implement because File constructor is a sink but could be

[2016-12-09 22:50] h3xstream commented on #240
My perspective on this is that logback should have option (enable by default or not) to enforce escaping of new lines. I have the feeling that a minority of projects are concern about this vulnerabilities. If it is a concern, the only way to "take control" of this issue is automatic escaping with separation of logging message and dynamic parameters.
Basically, the same way SQL injection is a relat

[2016-12-10 08:15] OskarKjellin commented on #240
Not sure I really agree. There are many valid use cases to log new lines in msssages (stacktraces for instance). The issue becomes when you log "tainted" values. It already detects if you log tainted values but the process of the detecting it doesn't consider if you log a field of a tainted object, which I consider a bug...

[2016-12-13 20:53] sdspbores commented on #238
Forgot to mention, these interfaces are duplicated in the Apache Torque package as well.

https://db.apache.org/torque/torque-3.3/releases/torque-3.3/runtime/apidocs/org/apache/torque/util/BasePeer.html

[2016-12-19 21:32] h3xstream opened #243 "Detect Commons lang Random utilities"
The following APIs wrap random instances :

 - `org.apache.commons.lang.math.JVMRandom`
 - `org.apache.commons.lang.math.RandomUtils`

[2016-12-19 21:55] formanek commented on #243
You can also add `org.apache.commons.lang.RandomStringUtils`, which could be used to generate predictable passwords or tokens (if the longest method signature and instance of SecureRandom is not used).

[2016-12-19 22:23] h3xstream commented on #243
@formanek Good point.

`public static String random(int count, int start, int end, boolean letters, boolean numbers, char[] chars, Random random)` will likely be called when SecureRandom is passed. At some point, the developper will instantiate a Random class anyway if it is use insecurily.

[2016-12-20 09:46] eoftedal opened #245 "False positive if XML parser is configured in separate function"
The following triggers "XML parsing is vulnerable to XXE":
[code]
but if i move the contents of documentBuildFactory() up into the parse function, the problem goes away...
[code]

[2016-12-20 20:53] h3xstream commented on #245
_The following message is purely a remainder for FSB developers. The issue is perfectly valid._

There are two rules that are known to be really "minimal effort" : the insecure cookie and the XXE detector. The rules where made really quick.

There is a small discussion that was started in this PR https://github.com/find-sec-bugs/find-sec-bugs/pull/220.

[2016-12-29 12:54] ptamarit commented on #240
Concerning automatic escaping of newlines with logback, there's the [OWASP Security Logging Project
](https://www.owasp.org/index.php/OWASP_Security_Logging_Project) doing this (I didn't give it a try yet). Maybe this should be mentioned in the bug description? Now I don't think that find-sec-bugs could automatically detect that a project is using this logger, so this rule would have to be disable

[2016-12-29 13:49] OskarKjellin commented on #240
Maybe I don't fully understand how find-sec-bugs work, but isn't the general taint detection process at fault? So this would be a missed SQL detection vulnerability:
[code]

[2016-12-30 08:15] plr0man opened #249 "UnvalidatedRedirectDetector "Location" LDC issue"
The Unvalidated Redirect Detector does not detect issues similar to the following:
`resp.addHeader("Location", req.getParameter("urlRedirect"));`
In this case the top LDC - the one the detector is comparing against is going to be "urlRedirect", not "Location" as expected.
Any suggestions how to fix that?

[2016-12-30 21:08] sdspbores commented on #238
Turbine and Torque provide Criteria objects and special retrieval methods that should be used instead. If these methods are not suitable, then use a java.sql.PreparedStatement instance directly.

			/* Unsafe */
			List< Record > records = BasePeer.executeQuery( "SELECT * FROM CUSTOMER WHERE ID=" + args[ 0 ] );

			/* Safe */
			Criteria c = new Criteria( );
			c.add( CustomerPeer.ID, args[ 0 ] );

[2016-12-30 21:14] h3xstream commented on #238
@sdspbores Perfect

[2017-01-02 23:57] h3xstream commented on #222
@MaxNad I have no problem with this change of regex.

[2017-01-03 00:05] h3xstream commented on #158
Those two commits will allow us to enable the verification.
198b057d134fa28b93f6980a6e684034388736c0
4a7a6117cbd1b90225c12842b1570446f29f29b8

It seems to have found one typo again!! 🎉

There is two main exception Scala class ending with `$` (1) and logging api (2).
1. It is not possible to have does API available at runtime. Scala would need to be a provided dependency.
2. We have a good coverage

[2017-01-03 00:05] #158 closed

[2017-01-03 18:28] h3xstream commented on #240
@ptamarit I have looked at [OWASP Security Logging Project
](https://www.owasp.org/index.php/OWASP_Security_Logging_Project) and it does not mention log injection. It seems to be focusing on logging HTTP requests.

@OskarKjellin Yes this is the case. The Logging are configured only to include the first argument.

I found the documentation I needed. Logback does provided configuration for automatic

[2017-01-03 19:27] #238 closed

[2017-01-04 15:18] topolik opened #256 "Derive and export sinks for dependencies"
**Problem:*
During taint analysis many classes are outside analysis boundary (`auxclasspath`) and are not parsed. For example dependencies used in project.

When a dependency contains a hidden sink, that means hidden deeper inside call stack of the dependency, it's invisible for the caller and for the taint analysis.

Example:
* Having `AnalyzedClass.class` on classpath to be analyzed
* and `Depen

[2017-01-04 15:29] topolik commented on #256
Very naive implementation (missing parameter indexes, missing superclasses/interfaces definitions, duplicates output, etc.):

https://github.com/topolik/find-sec-bugs/commit/03cf860385f110021330a58a52b16d973419457a

[2017-01-04 19:40] h3xstream commented on #163
The POC is sufficient to close this issue (https://github.com/find-sec-bugs/find-sec-bugs-demos/tree/master/groovy-simple).

[2017-01-04 19:40] #163 closed

[2017-01-05 00:27] h3xstream commented on #198
This is a library vulnerability.
[CVE-2015-6420](https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2015-6420) is use to track this vulnerability on Cisco products.

[2017-01-06 20:21] h3xstream commented on #256
@topolik The naive implementation will propagate one level per scan (iteration)?

I think that we need to think about scaling upfront for this kind of enhancement.
I am really interested by this development. I am thinking about the use of a Graph database (Neo4J). This would be an experimental project that would not be integrated any time soon.

[2017-01-09 15:22] topolik commented on #256
Yes. But I'm not sure what the "one level" means, haha :)

The naive example I provided should export everything, from leaf to root. But it doesn't care what is exported API and what is internal class.

In a perfect world (OSGi, Jigsaw) after one analysis we should end up with a final description of classes/interfaces that the library exports && are sensitive sources leading to sinks. So no interm

[2017-01-23 19:53] jacek99 opened #268 "No detection of XSS vulnerabilities in JAX-RS methods"
We are comparing SonarQube with Find Bugs (and the Find Security Bugs rules) against a commercial competitor.

The commercial competitor flags all typical JAX-RS REST methods with user input as potential XSS vulnerabilities, e,.g.:

[code]
with errors like
[code]

None of the Find Security Bugs rules flagged any of the JAX-RS resources with similar vulnerabilities.

Should some JAX-RS specific rul

[2017-01-23 21:54] h3xstream commented on #268
In which format is the entity returned by default?
I would expect a JSON or XML representation with the appropriate content-type..

[2017-01-23 22:00] jacek99 commented on #268
It returns it in JSON format by default.
[code]

[2017-01-23 22:02] jacek99 commented on #268
This is in Dropwizard, so it is using Jersey 2 for the JAX-RS and Jackson for all the JSON serialization/deserialization.

[2017-01-23 22:03] h3xstream commented on #268
Are you sure this is vulnerable to XSS?
I would expect the result to be safe because of the content-type. Unless there is browser specific content sniffing.

[2017-01-24 03:40] jacek99 commented on #268
Well, I am not honestly, as I am not an expert on the finer aspects of XSS.

So in your opinion this is a false positive?

[2017-01-24 05:44] h3xstream commented on #268
@jacek99 Yes it look like a false positive.
If a manually constructed string would have been return, the content-type would have been `text/html` or `text/plain`.

[2017-01-24 05:46] h3xstream commented on #268
Please do minimal testing and provide a POC next time.
Stack overflow would be a better place to ask this kind of general question.

(No offence. Good luck with the triage!)

[2017-01-24 05:47] #268 closed

[2017-01-24 14:04] jacek99 commented on #268
Thank you for your time, much appreciated

[2017-01-24 19:48] ptamarit opened #269 "Detect File Disclosure Injection with Spring's RequestMapping and prefixed redirect string"
In the PR #265, checks for File Disclosure Injection has been added for Spring when using `ModelAndView`.

Redirects are also possible in Spring by return a String with the `"redirect:"` prefix within a method annotated with `@RequestMapping`, `@GetMapping`, etc.

Vulnerable code snippet:

[code]

References:
* https://docs.spring.io/spring/docs/current/spring-framework-reference/html/mvc.html#mvc

[2017-01-26 06:57] h3xstream commented on #269
Note : It will be much easier to implement once the new Taint Analysis extensions are implemented.
https://github.com/find-sec-bugs/find-sec-bugs/pull/220#issuecomment-274403955

[2017-01-29 21:59] formanek opened #270 "False negatives in detection of bad modes of operation"
Implementation mistake (indexing operand stack from bottom) cause undetected usage of ECB and modes without authentication, padding oracle and RSA without padding if the stack is deeper than in the simplest case. E.g. this usage is not detected:
[code]

[2017-01-29 22:12] formanek opened #272 "Detect issues in cryptography not using JCA"
Cryptographic bugs (insecure algorithms, insufficient key length etc.) are currently detected mostly for standard API for Java Cryptographic Architecture only. We should consider support for other common cryptographic API such as Bouncy Castle's lightweight API.

[2017-01-30 09:29] rajat007 opened #273 "Not getting the Find bug option"
I had import the project from Github URI in eclipse and then i need to the security testing of it at that time find bug option is not coming . I had checked that it is coming for the  other projects but with the project i am importing from git
![git](https://cloud.githubusercontent.com/assets/9781098/22417922/a4e035a6-e6fc-11e6-94f6-48266716d640.png)

[2017-01-30 19:11] h3xstream commented on #273
Please follow this tutorial : https://github.com/find-sec-bugs/find-sec-bugs/wiki/Eclipse-Tutorial

[2017-01-30 23:56] #270 closed

[2017-01-31 09:32] rajat007 commented on #273
Thanks for the answer
I had followed the same tutorial but on right clicking the target folder i am not getting the option of Find Bug

[2017-01-31 16:45] h3xstream commented on #273
Can you confirm that the plugin FindBugs is installed? Did you restarted Eclipse after the installation?

[2017-01-31 17:12] rajat007 commented on #273
Yes i had restarted also plugin , actually when i am clone the project from git using egit plugin in eclipse the project get stored in .git folder when i am opening the project saved under the git folder then the option of FindBug is not coming but when i am copying the same project and saving it in other folder then it is coming ?

will you please help me in this ?

[2017-02-03 09:30] rajat007 commented on #273
any update on it ?

[2017-02-03 15:01] h3xstream commented on #273
Please test the tutorial on a fresh install of Eclipse. http://www.eclipse.org/downloads/packages/eclipse-ide-java-developers/marsr

[2017-02-07 14:30] esacco opened #274 "Find-sec-bugs maven plugin failed to execute"
When attempting to run the mvn findbugs:findbugs command after configuring the findsecbugs maven plugin to my root pom, findbugs fails on one of my java projects. There was no problem using findbugs without the findsecbugs plugin. Any ideas what is causing the issue?

[code]

[2017-02-09 21:18] ptamarit commented on #274
Did you try using the latest version of findbugs-maven-plugin (which is 3.0.4 and not 3.0.1)?

If it still doesn't work, please post:
* The result of `mvn -version`.
* The configuration part related to the findbugs plugin.

[2017-02-09 22:52] h3xstream commented on #273
I have updated the images of the tutorial. Images are now hosted in the hidden Git repo of the wiki.
https://github.com/find-sec-bugs/find-sec-bugs/wiki/Eclipse-Tutorial
I have taken the new screenshot based on a recent Eclipse installation (Eclipse Neon for Java Developpers)

[2017-02-09 22:52] #273 closed

[2017-02-16 21:19] h3xstream opened #275 "Out of bounds mutables in ... (Assertion trigged)"
## Code to reproduce

[code]

## Error

The last line `Arrays.toString(...)` will trigger the assertion "Out of bounds mutables in someMethod"

## First troubleshooting

![ide](https://cloud.githubusercontent.com/assets/593130/23040865/e6814614-f460-11e6-8f4b-e77a331388e0.png)

## Refs

It could be the same issue where we never received a code sample to reproduce (#199).

[2017-02-16 21:42] h3xstream commented on #275
To reproduce the bug : https://github.com/h3xstream/find-sec-bugs/commit/ab1ee4613e2dbbfb13ecef2a13f7abd6daf05eac

[2017-02-17 23:29] h3xstream commented on #275
/cc @formanek, @topolik
Any help would be welcome

I am unsure about the fix for this issue. It involve tainted mutable in the return value of a static method.

In the tested sample, the call to `Arrays.toString(Object[])` is static. There is only one argument needed. The return value will preserve the state (TAINTED, SAFE,..) of the original argument.

The stack look as follow when the transferTa

[2017-02-19 14:24] formanek commented on #275
@h3xstream You are right, [that configuration](https://github.com/find-sec-bugs/find-sec-bugs/blob/master/plugin/src/main/resources/taint-config/java-lang.txt#L185) is wrong. `#` shouldn't be present if only a new value is created and no existing is modified.

Any additional automatic validation could be useful, it's difficult not to make an error in hundreds of configuration instances and it woul

[2017-02-22 06:19] retanoj opened #276 "How could I report a Bug that not in a class"
I want to new a BugInstance to report a Bug about weak password in a config file.
I got the config file path, weak password location( source line number ), but I could not find a method of BugInstance to report a bug not in class.

This is not work:
`new BugInstance(this, WEAKPASSWORD_TYPE, Priorities.NORMAL_PRIORITY).addClass("")`

[2017-02-23 06:07] #275 closed

[2017-02-23 06:19] h3xstream commented on #276
The best place to ask this new feature - at API level - would be the [SpotBugs project](https://github.com/spotbugs/spotbugs/issues/new).
(Find Security Bugs is a side-project)

[2017-02-23 06:23] h3xstream commented on #274
`Java returned: 1` is likely  to be the JVM not starting. FindBugs is fork for each findbugs scan. This is likely a JVM problem.
I am closing this issue. Because there are no special condition to investigate.

@esacco This issue can be reopen at anytime if you have more details (see @ptamarit post).

[2017-02-23 06:23] #274 closed

[2017-02-23 06:46] h3xstream commented on #276
Currently it is the big limitation of FindBugs/SpotBugs.
The best place to [ask for API enhancement would be the SpotBugs project](https://github.com/spotbugs/spotbugs/issues).

[2017-02-24 01:47] retanoj commented on #276
@h3xstream Thx,  I will close this question.

[2017-02-24 01:47] #276 closed

[2017-02-28 07:16] #228 closed

[2017-02-28 17:36] h3xstream commented on #240
I'm postponing this to 1.7 because I don't have much time and I don't want to delay the release to much.

[2017-02-28 22:09] h3xstream opened #279 "Update JSP compiler"
Their is one dependency that is starting to look like a technical depth.. The old JSPC maven plugin.
![jspc](https://cloud.githubusercontent.com/assets/593130/23436487/b8379430-fdd8-11e6-8430-fc9ffff8509b.png)

Ref: https://www.versioneye.com/user/projects/5751d1e07757a00041b3a1dd

## SMAP support..

Currently the SMAP are analyze based on separate SMAP file? At that time, I did not know that SMAP

[2017-03-01 03:09] h3xstream commented on #279
Success :

![badge](https://cloud.githubusercontent.com/assets/593130/23444355/9319fa7e-fe02-11e6-8f77-9ee539fe0905.png)

![version_eye_all_green](https://cloud.githubusercontent.com/assets/593130/23444344/81ccac26-fe02-11e6-8f52-8c2f7cca5a5c.png)

[2017-03-01 03:10] #279 closed

[2017-03-01 13:59] ptamarit commented on #279
Hi,

Not sure if it's VersionEye being wrong or if you ran the check from another place than master, but it doesn't seem to match.
For instance, `logback-classic` is `1.1.7` in the root POM while the screenshot shows `1.2.1`.

In order to easily find dependencies and plugins upgrades from the CLI you can run:
* `mvn versions:display-dependency-updates`
* `mvn versions:display-plugin-updates`

As a

[2017-03-06 09:22] xsun12 opened #283 "New rule: detect https connections with weak SSL / TLS protocol"
Java by default uses SSL protocols or TLS 1.0 for outbound HTTPS connections. Both are insecure hence should be replaced by more secure TLS 1.2. Most developers are not careful enough to configure TLS protocol explicitly, hence there applications might be susceptible to man-in-the-middle attack.

Propose to add new rule to detect weak SSL / TLS protocols and recommend better practice.

I have 2 ca

[2017-03-09 03:22] myronBob opened #284 "Question about sinks file configuration"
![image](https://cloud.githubusercontent.com/assets/23491370/23732690/8cf9aa32-04af-11e7-9646-7e8ac4db358b.png)

I would like to know, what 's the meaning of the number in the red box, any help would be appreciated

[2017-03-13 18:01] h3xstream commented on #284
It is normal to find it cryptic. 😄

It represent the index of the arguments that are "injectable". The important part is to start counting from **the right side**.
The details are documented here :
https://github.com/find-sec-bugs/find-sec-bugs/wiki/Injection-detection#sink-file-format

[2017-03-13 18:03] h3xstream commented on #283
This make perfect sense. I did some comments in the PR.

[2017-03-14 06:10] myronBob commented on #284
Thanks a lot.
A little time ago, I tried to debug step by step and found the answer finally.

[2017-03-14 06:10] #284 closed

[2017-03-15 22:40] h3xstream commented on #279
VersionEye is poiting to the plugin pom.xml .. The scope of the checks is very limited..
My goal was just to catch the most important one.
In the end FindSecBugs is not package with any dependency. So this is not something big.

Yep. I was running coveralls manually. I learn about the secure configuration for travis-ci only recently. I will try to make it integrate to the build.

[2017-03-15 23:10] h3xstream opened #287 "Run coveralls after each build"
Coveralls was run manually .. it should be possible ([as suggested by Pablo](https://github.com/find-sec-bugs/find-sec-bugs/issues/279#issuecomment-283346718))

[2017-03-15 23:23] h3xstream commented on #287
Because it is run in the after_success trigger.. it will run the test 2 times.. (twice the build time)
At least, we will know for sure if a build is failing because of a functionnal bug vs a potential bug cobertura which instrument all the bytecode.
https://github.com/h3xstream/find-sec-bugs/commit/fd60cc5c53af784139a31961b062e3c5ab1461de#diff-354f30a63fb0907d4ad57269548329e3

[2017-03-15 23:29] h3xstream commented on #287
https://coveralls.io/github/find-sec-bugs/find-sec-bugs

[2017-03-15 23:29] #287 closed

[2017-03-16 00:58] #222 closed

[2017-04-06 16:47] php-coder commented on #269
@ptamarit This example is not vulnerable to File Disclosure Injection. Original issue was about server-side redirect. This example is using client side redirects and the most dangerous thing that it could do, is to redirect user to some malicious site (see https://www.owasp.org/index.php/Unvalidated_Redirects_and_Forwards_Cheat_Sheet#Dangerous_URL_Redirects).

To be vulnerable to server-side redir

[2017-04-07 02:31] h3xstream opened #291 "Reduce false positive for Path traversal"
Path traversal is one of the detector that can cause a large number of false positive.

Here is a list of API that are safe value to construct a path or filename from.
 - `System.getProperty()`
 - `Calendar.getInstance().get(Calendar.YEAR);` / `Calendar.getInstance().get(Calendar.MONTH);` / ...
 - `UUID.randomUUID().toString()`
 - `File.createTempFile()`
 - `Files.createTempDirectory()`
 - `System

[2017-04-07 02:45] h3xstream commented on #291
Transfer the state of the parameter to the return value..

- org/springframework/core/io/support/ResourcePatternResolver.getResources(Ljava/lang/String;)[Lorg/springframework/core/io/Resource;:0
- java/lang/Class.getResource(Ljava/lang/String;)Ljava/net/URL;:0

[2017-04-07 14:39] h3xstream opened #292 "Generalize configuration properties with hard coded password"
Currently `JndiCredentialsDetector` detect code like :

[code]

The improvement would be to generalize the concept to Map, HashMap, Hashtable and Properties. It would also be a good opportunities to detect any properties with "password" in it (not just "java.naming.security.credentials").

[2017-04-07 14:46] h3xstream commented on #292
Release Note : JndiCredentialsDetector will be replace completely.

[2017-04-07 15:33] #292 closed

[2017-04-07 17:47] h3xstream commented on #269
I am doing some test right now to verify the extend. The precision @php-coder seems logical. It should only be URL.

[2017-04-07 17:55] php-coder commented on #269
@h3xstream Let me know I you need my help (in case you're not familiar with Spring/Spring Boot).

[2017-04-07 18:29] h3xstream commented on #269
Yes it is only a URL redirects (client-side) if the `redirect:` prefix is used.
By the way, the redirection does not filter any protocol : `javascript:`, `data:`, `file:///` or even application.

I stumble upon an additional vulnerability...

[2017-04-07 18:35] h3xstream commented on #269
Here is an additional vulnerability that is not cause by concatenation..

[code]

The behavior is probably not was is expected by the developer. Here, the redirect location will be follow by (`?userInfo=[User...]&secret=test1234`)

It is also possible to use bracket (`{secret}`) in the url return to exposed a specific object of the model. This is not particularly malicious when the default behavio

[2017-04-07 19:35] h3xstream commented on #269
# Detector proposed

There is already a detector propose that look for concatenation of "redirect:" and a dynamic value.

https://github.com/johnhawes/find-sec-bugs/blob/23bdae2a0a7aa7cf188c110e89fc0c93b2481cb3/plugin/src/main/resources/metadata/messages.xml#L3173

The description seems ok. It is a specialized version of the detector `UnvalidatedRedirectDetector`

[2017-04-07 19:37] h3xstream opened #294 "View name "injection" and model exposure"
[code]

The behavior is probably not what is expected by the developer. Here, the redirect location will be follow by (`?userInfo=[User...]&secret=test1234`)

It is also possible to use bracket (`redirect:{secret}`) in the url return to exposed a specific object of the model. This is not particularly malicious when the default behavior append all the model.

Here is an endpoint that is expecting t

[2017-04-07 20:11] h3xstream commented on #269
@ptamarit Let me know if some vulnerable cases still need to be cover.
I close the issue after.

[2017-04-07 20:55] h3xstream commented on #294
The detector would need  to detect the construction of a `ModelAndView` with addObject(). The method .setViewName() would need to be call on the same instance with either "redirect:" or a totally dynamic value.

[2017-04-07 21:51] php-coder commented on #269
What's about covering the case of using "forward:" prefix?

[2017-04-07 22:35] h3xstream commented on #269
forward is only doing redirection to external URL to the same website. I don't think it can give an attacker access to more content.

[2017-04-08 11:20] php-coder commented on #269
Actually it can. And that's why `ActionForward` has `Forward` in its name and this is what this class is doing:

See: https://svn.apache.org/repos/asf/struts/archive/trunk/struts-doc-1.1/api/org/apache/struts/action/ActionForward.html

@h3xstream If the check from #265 don't protect from forwards, then I don't understand from what it tries to protect?

[2017-04-08 15:24] h3xstream commented on #269
@php-coder Yes I'm totally about covering `forward:`.
I just don't want it to flagging unvalidated redirect (which is intented to be client-side).

It should be raising the same bug type as "FileDisclosureDetector". And as you point out, the description need to be updated to reflect the actual risk of controlling the view name.

[2017-04-08 16:11] zolyfarkas opened #295 "Make PREDICTABLE_RANDOM ignore Unit test classes?"
In my unit test cases I don't need a secure random, generates a lot of false positives, and I am not sure it is even worthwhile looking in the test classes...

[2017-04-10 06:42] h3xstream commented on #295
You can exclude the test classes with a exclude filter file. http://findbugs.sourceforge.net/manual/filter.html

**exclude.xml**
[code]

[2017-04-12 11:19] javixeneize opened #297 "Sonarqube 6.3 compatibility?"
Hi

Is this new version 1.6.0 (https://search.maven.org/remotecontent?filepath=com/h3xstream/findsecbugs/findsecbugs-plugin/1.6.0/findsecbugs-plugin-1.6.0.jar) compatible with sonarqube 6.3?

Thanks

[2017-04-15 22:01] gredler opened #298 "CRLF_INJECTION_LOGS false positive for non-String user input"
I have a JAX-RS endpoint similar to the following which is triggering a CRLF_INJECTION_LOGS warning:

[code]

[2017-04-15 22:05] gredler opened #299 "CRLF_INJECTION_LOGS documentation typo"
The documentation at https://find-sec-bugs.github.io/bugs.htm#CRLF_INJECTION_LOGS contains the following typo:

- "untusted" -> "untrusted"
- Possibly add the word "an", as well: "from untrusted source" -> "from an untrusted source"

[2017-04-16 19:19] h3xstream commented on #298
This specific input sould be consider safe because it is limited to numeric value. This has very limited potential for an attacker. No injection can leverage from this.
Quick note .. The heuristic should be only based on the **value type (Long/Int)**. It might be possible to use `@HeaderParam("Content-Length") String input`.

[2017-04-17 04:23] h3xstream commented on #299
I have two options..

 - You can try to contribute by editing the [messages.xml](https://github.com/find-sec-bugs/find-sec-bugs/blob/master/plugin/src/main/resources/metadata/messages.xml#L2495) directly.

- Or wait a week, I will look for those two occurrences.

[2017-04-17 18:45] #299 closed

[2017-04-19 20:21] ptamarit commented on #269
@h3xstream You did much more research than me on the topic. If you think that everything is covered, please go ahead and close the ticket.

[2017-04-28 17:59] zolyfarkas commented on #295
thanks

[2017-05-01 15:47] #295 closed

[2017-05-05 11:56] FrankS77 commented on #297
Hello,

That interests me too. There is no Findbugs plugin to install in the Sonarqube plugins section. Should I manually install the Findbugs and find-sec-plugin or are all rules are now included in SonarJava? I see some security rules but not all.

Thanks

[2017-05-07 16:33] dawidppp opened #302 "Android SQL Injection"
Hello,

I am trying to detect SQL Injection in an Android application. Sample code:
In _MainActivity_:
[code]
In _DbManager_ (extends _SQLiteOpenHelper_):
[code]
We can inject SQL, which is easily observed by entering the following login:
` ' or 1=1 --`
and authorization is bypassed. I did it on emulator.

So I try to detect it with **Find Security Bugs CLI**. I changed the script _./findsecbugs.s

[2017-05-09 06:19] JonyKhatri123 opened #303 "Gradle Integration for a Java Web Project"
I already have Findbugs in my gradle script for Java Web Project. I would like to integrate FindbugsSecurity in that gradle script.. I want only FindbugsSecurity and remove Findbugs .

Is there any way I can do it ?

[2017-05-09 14:44] h3xstream commented on #303
This project has an example of Gradle configuration that focus on Security:

https://github.com/find-sec-bugs/find-sec-bugs-demos/tree/master/android-insecure-bank-v2

The important parameter is :
[code]

[2017-05-09 14:46] h3xstream commented on #302
I'm surprise we have not integrated those methods yet. 😲

On the other hand, I will have to the test custom configuration myself. (I don't use this feature myself anymore.)

[2017-05-11 11:37] topolik commented on #302
Hi @dawidppp,

just guessing.

`-Dfindsecbugs.taint.customconfigfile` is taint configuration, i.e. you can specify how the method modifies taint.

What you are looking for is custom sinks file for  `SqlInjectionDetector`. Try
`-Dfindsecbugs.injection.customconfigfile.SqlInjectionDetector=android-sql-injection-sinks.txt|SQL_INJECTION_JDBC`

[2017-05-16 08:24] dawidppp commented on #302
Hi @topolik,

I tried this:
`java -Dfindsecbugs.injection.customconfigfile.SqlInjectionDetector=android-sql-injection-sinks.txt|SQL_INJECTION_JDBC -cp findbugs/\* edu.umd.cs.findbugs.LaunchAppropriateUI -pluginList plugins/findsecbugs-plugin-1.4.6.jar:plugins/noUpdateChecks.jar -include include.xml $@`
Result:
`./findsecbugs.sh: line 1: SQL_INJECTION_JDBC: command not found`

I tried with backslas

[2017-05-16 08:31] topolik commented on #302
Hi,

I think this was released as 1.5, you are using old version of the plugin.

Sorry, overlooked that for the first time.

[2017-05-16 14:10] dawidppp commented on #302
I use:
https://github.com/find-sec-bugs/find-sec-bugs/releases/download/version-1.4.6/findsecbugs-cli-1.4.6.zip
from:
https://github.com/find-sec-bugs/find-sec-bugs/wiki/CLI-Tutorial

Now I see newer version in releases - 1.6. I will try it.

[2017-05-23 20:47] h3xstream commented on #302
@dawidppp Would you mind sharing your method signature for Android SQL api?

[2017-05-24 16:31] h3xstream commented on #303
I will assumed the question was answered. Let me know if this is not the case.

[2017-05-24 16:31] #303 closed

[2017-06-01 14:28] dawidppp commented on #302
Sorry for the late reply. I had another important project to do.

So, I downloaded Find Security Bugs CLI 1.6 and tried to run it like before.
I changed _./findsecbugs.sh_ (deleted `-quiet` and added `SqlInjectionDetector` as @topolik suggested) and ran it. Unfortunately the SQLI was still not found.
But when I tried it without pipe char, I got the following error:

 So it loaded the file...

@h3x

[2017-06-01 15:18] topolik commented on #302
@dawidppp, pipe is a special character for bash (and other shells): https://www.gnu.org/software/bash/manual/html_node/Pipelines.html

Try
* `-Dfindsecbugs.injection.customconfigfile.SqlInjectionDetector=android-sql-injection-sinks.txt\|SQL_INJECTION_JDBC`
* or java allows the value to be surrounded with quotation mark, i.e. `-Dfindsecbugs.injection.customconfigfile.SqlInjectionDetector="android-s

[2017-06-02 04:04] h3xstream commented on #302
@dawidppp I was thinking about the actual signature files.

[2017-06-02 04:05] h3xstream commented on #297
You can test this new release which is fully compatible with 6.3.
https://groups.google.com/forum/#!topic/sonarqube/WuRFaI-4L3A

[2017-06-02 04:05] #297 closed

[2017-06-02 06:57] dawidppp commented on #302
@topolik
My _findsecbugs.sh_ file:
`java -Dfindsecbugs.injection.customconfigfile.SqlInjectionDetector="android-sql-injection-sinks.txt|SQL_INJECTION_JDBC" -cp lib/\* edu.umd.cs.findbugs.LaunchAppropriateUI -pluginList lib/findsecbugs-plugin-1.6.0.jar -include include.xml $@`
So it's correct. I experimented with pipe to prove it's works and load the file.
I tried both. No error and no SQLI.

@h3xs

[2017-06-02 10:52] topolik commented on #302
@dawidppp Took me some time but found it.

(Hope @h3xstream won't complain I didn't give him the chance to solve it :) )

I downloaded android SDK and found your return type in the sink definition is not correct.

I usually use `javap` to get the correct signatures, for example:

`javap -s android/database/sqlite/SQLiteDatabase.class | sed $'s/.*public .* \([a-zA-Z0-9_]\+\)(.*/\\1/' | sed 's/.*des

[2017-06-02 18:20] h3xstream commented on #302
Yes. I was being lazy here about finding the signatures. 😄

I notice that there are multiple APIs that can be injectable:

- SQLiteDatabase.query
- SQLiteDatabase.rawQuery
- SQLiteDatabase.execSQL

[2017-06-06 06:24] dawidppp commented on #302
Oh my... @topolik - it works!
I changed only _android-sql-injection-sinks.txt_ file like you said. That's it!
I checked it in Android Studio and there is `Landroid/database/Cursor;` too.
Thank you very much :)

@h3xstream
Yes, of course. I remember that.

[2017-06-06 06:24] #302 closed

[2017-06-06 22:15] h3xstream commented on #302
I will integrate the signature to the main branch.. Anything is missing? @dawidppp

## android/database/sqlite/SQLiteDatabase
[code]

## DatabaseUtils

[code]
android/database/DatabaseUtils.appendEscapedSQLString(Ljava/lang/StringBuilder;Ljava/lang/String;)V:0
android/database/DatabaseUtils.sqlEscapeString(Ljava/lang/String;)Ljava/lang/String;:0
android/database/DatabaseUtils.appendValueToSql(Ljav

[2017-06-10 14:54] dawidppp commented on #302
Wow, thanks @h3xstream. I think it is everything.

[2017-06-20 12:42] jqno opened #307 "Can't resolve "Scala Play Server-Side Request Forgery (SSRF)""
I'm getting a `Scala Play Server-Side Request Forgery (SSRF)` issue on my Scala project, and I can't figure out how to resolve the issue.

We have a method that looks very much like the one in the report:

However, no matter what I do with the `value` parameter (I've tried quite a few things), I keep getting the error. Even if I hard-code the url (`WS.url("https://www.google.com").get()`) the erro

[2017-06-22 14:48] MaxNad commented on #307
Hi,

If the hard-coded URL is triggering this detector, it is most likely an error from my part.
I can take a look at this, however, I am having problems recreating your issue.

I have created multiple test cases in the find-security-bugs-demo project and none of them gets flagged by the Scala SSRF Detector. You can see them in this branch of the [find-security-bugs-demo](https://github.com/MaxNad

[2017-06-22 14:54] jqno commented on #307
We're using Scala 2.11.8 with Play 2.5.8. I see that you're demo project uses 2.4, so that might account for the issue. Some things have changed in the way `WS` works.

If it helps, I could create a demo project to reproduce the issue, probably tomorrow or so.

[2017-06-23 11:21] MaxNad commented on #307
Hi jqno,

No need to create a sample project, I was able to reproduce your problem (it was indeed caused by the version difference).

It should now be fixed.
If you still have the problem while using the latest version (from source), do not hesitate to tell me.

Thanks for your help.

[2017-06-26 13:35] 4ndygu commented on #249
Personally, I created a custom Injection detector, then integrated the test:

`public class CustomInjectionDetector extends BasicInjectionDetector {

    public CustomInjectionDetector(BugReporter bugReporter) {
        super(bugReporter);
        loadConfiguredSinks("[command file]", "COMMAND_INJECTION");
    }

    @Override
    protected int getPriority(Taint taint) {
        if (!taint.isSafe(

[2017-06-26 13:38] 4ndygu opened #310 "Taint Analysis works in tests, but not when packaged?"
Created a custom detector class to catch certain commands with taint analysis, like

[code]
And included it in findbugs.xml and messages.xml.

When I run this in tests, everything works fine. But when I run the package in Intellij against actual code, the test fails. I think it's something with regards to how I'm setting up the taint analysis, but all I've done is provision the new class and inclu

[2017-06-26 19:31] 4ndygu commented on #310
Clarification: I'm porting find-sec-bugs to some custom server forms that use different functions than what is picked up by many of the default find-sec-bugs sink signatures. Namely, my sink is a "withHeader(string, string)" command that sits inside a configuration function of a server class that is drawn up.

In my tests, my detector picks up the line of the potential vulnerability. But when I ru

[2017-06-26 20:25] h3xstream commented on #310
"When I run this in tests, everything works fine. " Is this unit tests like those in FSB ?

If the signature is ok with sample code, it should work in IntelliJ. You can verify that all the important classes are targeted by IntelliJ plugin. In the result view,

Please provide a link to your fork/signature files.

[2017-06-27 03:38] 4ndygu commented on #310
These are the unit tests in FSB. I'll paste the signature files soon.

[2017-06-29 14:48] h3xstream opened #312 "OGNL injection"
OGNL is an expression engine use in Struts2.

Detect potential injection.

[2017-06-29 14:48] h3xstream commented on #312
43f7107c4929b3ba89d18d2691af86f62d99568d

[2017-06-29 14:48] #312 closed

[2017-07-03 15:40] jqno commented on #307
Hi!
Sorry for the slow reply, it took me a while to find the time to test this. I can report that it does indeed work in our project, however, it only works when I'm not also calling `withRequestTimeout` on the `WSRequest`, for some reason.

[code]

Is this intentional?

[2017-07-03 22:23] MaxNad commented on #307
This is not intentional.

After looking into it, you will probably have this issue with all of the following calls :
`
      .withAuth([...])
      .withBody([...])
      .withFollowRedirects([...])
      .withHeaders([...])
      .withMethod([...])
      .withProxyServer([...])
      .withQueryString([...])
      .withRequestFilter([...])
      .withRequestTimeout([...])
      .withVirtualHost([.

[2017-07-04 07:00] jqno commented on #307
Thanks! Let me know if/when I can test something for you.

[2017-07-05 02:17] tweea opened #313 "PermissiveCORSDetector throws NPE"
I write a CORS Filter:
[code]
The PermissiveCORSDetector will throws a NullPointerException:
    java.lang.NullPointerException
      At com.h3xstream.findsecbugs.PermissiveCORSDetector.analyzeMethod(PermissiveCORSDetector.java:86)

When I change the variable 'allowOrigin' to a string literal, the NPE will not threw. It seems the PermissiveCORSDetector not support a variable parameter.

[2017-07-05 18:04] 4ndygu commented on #310
Ahh, totally my bad. It turns out I didn't format my XML correctly. Sorry for the bother!

[2017-07-05 18:04] #310 closed

[2017-07-05 18:58] 4ndygu opened #314 "Any way to tag specific input for taint sinks?"
Hi there,

I'm trying to identify function calls to a certain function, say, f1(String x, String y) where input is tainted, but only if, say, x = "cats". Is there any way I can crawl for this kind of granularity with my taint analysis?

Currently, I'm identifying calls that go from some function header(String y) to sink(String x). I can get my Taint calls to trigger, but I'm having a hard time fil

[2017-07-13 00:10] h3xstream commented on #314
This detector could serve as an example.
https://github.com/find-sec-bugs/find-sec-bugs/tree/master/plugin/src/main/java/com/h3xstream/findsecbugs/injection/redirect

The source for the injection (sink) is need a small analysis that [verify that the parameter is "Location"](https://github.com/find-sec-bugs/find-sec-bugs/blob/master/plugin/src/main/java/com/h3xstream/findsecbugs/injection/redirect/

[2017-07-13 00:12] h3xstream commented on #310
@4ndygu  Thanks for the update.

[2017-07-13 13:17] 4ndygu commented on #314
Thanks! The detector for this class seems to inherit from the LegacyInjectionDetector, as opposed to the BasicInjectionDetector that's described here: https://www.ysofters.com/2015/08/31/taint-analysis-added-to-findbugs/. Is there a strong difference between the two?

[2017-07-13 13:54] 4ndygu commented on #314
Just kidding, dig a little bit of digging and found out!

[2017-07-13 13:54] #314 closed

[2017-07-17 14:54] h3xstream commented on #314
`LegacyInjectionDetector` is named Legacy because the method signature used to be hardcoded in the code.
Most of the detector where basically just a list of `if` matching similar pattern. David (@formanek) transform those implementation into configuration files. The only remaining classes building "Injection source" at runtime are special cases like yours.

[2017-07-21 19:04] 4ndygu opened #315 "Throwing custom tags onto injection points"
I'm trying to add a tag like this:

InsecureObject x = ....
x.safeSanitizeFunction()

It seems like the current tags, from what I'm seeing in android-taint-sql.txt, such as this example:
android/database/DatabaseUtils.appendValueToSql(Ljava/lang/StringBuilder;Ljava/lang/Object;)V:0|+SQL_INJECTION_SAFE

adds the SQL_INJECTION_SAFE tags when a potentially tainted parameter is passed into a configure

[2017-07-22 01:21] h3xstream commented on #315
At the moment, their is no mechanism to add tag to instance this way.

[2017-07-24 20:34] h3xstream commented on #240
I have update the description for the logback directive.

[2017-07-24 20:41] #307 closed

[2017-07-24 20:42] h3xstream commented on #307
Closing the issue it will be available in the next release.

[2017-07-24 20:43] #283 closed

[2017-07-25 10:10] jqno commented on #307
The issue wasn't resolved yet, though.
I mean, you can still release (I'll just skip the version), but I still would like to have it fixed :).

[2017-07-25 13:07] jqno commented on #307
Ah, that was fast :)

[2017-07-25 14:45] MaxNad commented on #307
This commit should fix your issue.

Sorry for the delay, I was pretty busy in the last few days. That previous comment reminded me I had to do that :P

[2017-07-25 14:47] jqno commented on #307
No worries, I appreciate the effort!

[2017-07-26 17:47] 4ndygu commented on #315
Sounds good.

[2017-07-26 17:47] #315 closed

[2017-07-31 12:05] boris-petrov opened #320 "SQL_INJECTION_JDBC false positive"
The following code gives a `SQL_INJECTION_JDBC` warning:

[code]

I think this can be regarded as a false-positive.

[2017-08-02 06:44] h3xstream commented on #320
The parameter `statementString` could be a user input or tainted by a user input. All calls to `executeStatement()` need to be analyzed.

This is a FP that is "accepted" at the moment.

[2017-08-02 06:44] #320 closed

[2017-08-06 16:11] javabeanz commented on #240
https://github.com/javabeanz/owasp-security-logging/blob/master/owasp-security-logging-logback/src/main/java/org/owasp/security/logging/mask/CRLFConverter.java cleans logs of CRLF input

[2017-08-06 21:00] h3xstream opened #322 "URL decode create false-negative"
Thanks to an anonymous contributor. I realize that URL decoding operating is marking value safe for XSS and URL creation. It should be the opposite.

[code]
The previous test case should be consider vulnerable.

[2017-08-06 21:18] h3xstream commented on #322
A fix version 1.7.1 will be create because it's a bug fix.

[2017-08-07 16:07] #322 closed

[2017-08-07 16:13] h3xstream opened #324 "Add Paths.get() as source for Path traversal"
Detect `Paths.get(userInput)`

[2017-08-07 17:52] #324 closed

[2017-08-16 14:47] topolik opened #328 "Invalid configuration for java/io/File#createTempFile in java-net.txt"
The methods are static so there is no "this" object on the stack to be mutated.
[code]

Throws:
[code]

[2017-08-17 18:46] #328 closed

[2017-08-21 10:52] Vampire opened #332 "invokedynamic from lambdas produces wrong missing class warnings"
A lambda in a line like `fieldAccessors.entrySet().forEach(x -> sb.append(x.getKey()).append(" = ").append(x.getValue()).append("\n"));` is compiled to an `invokedynamic` bytecode instruction.

In `com.h3xstream.findsecbugs.injection.BasicInjectionDetector.getInjectionPoint()` this is not handled properly. `invoke.getClassName(cpg)` results in the functional interface method name, in this case the

[2017-08-22 23:41] archmageirvine opened #335 "SECRD ReDOS false-positve"
I'm seeing the following:

The regular expression "^g\\s++[a-z]++(\\s++[a-z]++=[^\\s]*+)*+$" is vulnerable to a denial of service attack (ReDOS)

However, this regex is using possessive quantifiers throughout, so the matching should be at worst linear in the input size.

[2017-08-23 11:58] javixeneize opened #336 "Sonarlint integration"
Hi

I am using sonarlint from my IDE, and i am referring to the project i have in the server that i have previously analysed using findsecuritybugs

However, the report generated by sonarlint only detects the vulnerabilities/bugs included in the default sonar rules

How can findsecuritybugs be integrated with sonarlint?

In short, i want sonarlint to analyse the code against the findescuritybugs r

[2017-08-23 14:52] h3xstream commented on #336
SonarLint is not usefull for you.
SonarLint is a strategy from SonarSource to promote their rules. The best way they found is continuing their universal plugin SonarEclipse.

The best option at the moment is : https://github.com/sonar-intellij-plugin/sonar-intellij-plugin
It only load result from previous scan which is interesting to avoid the scanning time.

FindSecBugs can be used in IntelliJ di

[2017-08-23 15:29] h3xstream commented on #335
Ok so this pattern is being flagged :
`([..]([^\\s]*+)*+`

Should any possessive quantifiers `*+` be ignored since no backtracking is done.

I am not an expert in RegEx. I only read this post :  https://stackoverflow.com/documentation/regex/5916/possessive-quantifiers#t=201708231528568722671

[2017-08-23 15:50] javixeneize commented on #336
Thanks Philippe

I want to have the same set of rules in my local IDE and in my sonar server. The best approach then is to use the findsecbugs plugin for intelliJ?

What about Eclipse? Any good alternative?

In any case, would it make sense to develop a plugin or similar that can do what sonarlint does, but against the set of rules of the sonar server?

Thanks

[2017-08-23 15:50] h3xstream commented on #332
Code that is problematic:
https://github.com/find-sec-bugs/find-sec-bugs/blob/298324a90f6c5564519f13a7110ab607c814c4cc/plugin/src/main/java/com/h3xstream/findsecbugs/injection/BasicInjectionDetector.java#L71-L87

What can FSB do to handle this?

Will FSB miss any vulnerabilities? It does not affect the stack state this would less critical.

[2017-08-23 18:35] Vampire commented on #332
@h3xstream you're not asking me, are you?

I guess the basic problem is, why a `getClassName` call returns a method name. That sounds awfully wrong to me.

[2017-08-23 19:48] h3xstream commented on #336
For a proper sync of the rules, I would say https://github.com/sonar-intellij-plugin/sonar-intellij-plugin is the best option.
Personnally once the scan is done on a CI (SonarQube), I would not run it in the IDE. I would simply browse the web interface. The navigation is decent and I can still investigate some case with my IDE.

[2017-08-23 22:11] archmageirvine commented on #335
Well, I wasn't exactly sure, so I ran the following experiment.  I took the string `abaa` and repeatedly concatenated it to itself, effectively doubling the string length at each step.  Then, I matched it against the regex `(a*b)*` and the possessive form `(a*+b)*+`.  In both cases the string will not match because it never ends with `b`, but the non-possessive form will backtrack attempting to ge

[2017-08-24 23:51] nwalsh1995 opened #337 "Images on Gradle Configuration documentation page show 'Please update your account'"
https://github.com/find-sec-bugs/find-sec-bugs/wiki/Gradle-configuration

It seems like Photobucket won't host content for third parties unless you specify it in your account settings. Not sure who 'owns' these files but they might want to enable that access for Photobucket, or just host the files elsewhere.

![image](https://user-images.githubusercontent.com/1879632/29693817-624f918e-88fd-11e7-9b

[2017-08-25 17:23] h3xstream commented on #337
Thanks I have contact the original developer to obtain the images.
We will move those to the GitHub wiki repository.

[2017-08-25 17:42] h3xstream commented on #337
Done! I found out that by clicking on PhotoBucket I can see the old images.

[2017-08-25 17:42] #337 closed

[2017-08-25 17:43] #336 closed

[2017-08-31 10:50] javabeanz opened #338 "Enable assertions during building and/or using find-sec-bugs"
Find-sec-bugs has some assertions that guard correct execution of the code, but they are not enabled during testing, nor while running the plugin. This should be changed.

[2017-09-06 11:16] javixeneize opened #340 "False possitives and filtering"
Hi

Question about configuration of FindBugs/FindSecurityBugs in IntelliJ

1 - How can i mark something as false possitive in my IDE environment?
2 - How can i filter the issues? EG - I want only vulnerabilities reported

Thanks

[2017-09-08 06:51] topolik commented on #340
Hi,

I know about 3 options:
1. use filter files http://findbugs.sourceforge.net/manual/filter.html and configure them inside Settings -> Other Setttings -> FindBugs-IDEA
2. use `edu.umd.cs.findbugs.annotations.SuppressFBWarnings` annotation, you can choose your own one in the settings again
3. There is environment property `findsecbugs_taint_customconfigfile` that's used by many FindSecurityBugs

[2017-09-08 08:20] javixeneize commented on #340
Thanks. Its really what i wanted to hear :)

I have tried to use the sonarqube intellij plugin, but doesnt connect to the remote server. Looks like it is not supported anymore so it is not an option.

So,the solution i have to use is using both findsecurity bugs and sonarlint in my IDE to match the rules i have in the server.

Not sure if sonarlint plugin has a filtering option like this? Code sme